<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="table table-hover table-striped table-responsive w-auto">
        <thead>
            <tr>
                <th scope="col">
                    <f:translate key="plugin.eventArchive.events.property.date"/>
                </th>
                <th scope="col">
                    <f:translate key="plugin.eventArchive.events.property.eventType"/>
                </th>
                <th scope="col">
                    <f:translate key="plugin.eventArchive.events.property.topic"/>
                </th>
                <th scope="city">
                    <f:translate key="plugin.eventArchive.events.property.city"/>
                </th>
                <th scope="col">
                    <f:translate key="plugin.eventArchive.events.property.venue"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{events}" as="event">
                <tr>
                    <td>
                        <span class="text-nowrap">
                            <f:render partial="EventDate" arguments="{event: event}"/>
                        </span>
                    </td>
                    <td>
                        <f:if condition="{event.eventType}">
                            {event.eventType.title}
                        </f:if>
                    </td>
                    <td>
                        <f:link.action action="show" arguments="{event: event}" pageUid="{settings.singleViewPage}}">
                            {event.displayTitle}
                        </f:link.action>
                    </td>
                    <td>
                        <f:for each="{event.cityNames}" as="cityName" iteration="iteration">
                            {cityName}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                        </f:for>
                    </td>
                    <td>
                        <f:for each="{event.venues}" as="venue" iteration="iteration">
                            {venue.title}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                        </f:for>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
</html>
