<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:oelib="OliverKlee\Oelib\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="col-12 col-xl-5 order-xl-last mb-{classesSpacingValueRow} mb-xl-0">
        <div class="event-detail__image d-flex h-100">
            <f:comment>TODO: replace dummy img src and figcaption text, remove dummy alt text</f:comment>
            <figure>
                <img class="object-fit-cover rounded h-100 w-100"
                     src="https://picsum.photos/id/201/1000/500"
                     alt="Decorative dummy image - alt text should be empty"/>
                <figcaption class="small pt-1">© Figcaption copyright of an event image with a minumum height of 280px</figcaption>
            </figure>
        </div>
    </div>
</html>
