<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:variable name="organizers" value="{event.organizers}"/>
    <f:if condition="{organizers}">
        <f:if condition="{listView}">
            <f:then>
                <span class="event-list-item__details-title">
                    <f:translate key="label_organizer"/>:
                </span>
            </f:then>
            <f:else>
                <f:translate key="label_organizer"/>:
            </f:else>
        </f:if>
        <f:for each="{organizers}" as="organizer" iteration="iteration">
            {organizer.name}{f:if(condition: iteration.isLast, then: '', else: ', ')}
        </f:for>
    </f:if>

    <f:section name="structuredData">
        <f:if condition="{event.organizers}">
            <f:for each="{event.organizers}" as="organizer" iteration="iterator">
                <f:format.raw>{</f:format.raw>
                "name": "{organizer.name}"<f:if condition="{organizer.homepage}">,
                "url": "{f:uri.typolink(parameter: organizer.homepage, absolute: true) -> f:format.raw()}"</f:if>
                <f:format.raw>}</f:format.raw>{f:if(condition: iterator.isLast, then: '', else: ', ')}
            </f:for>
        </f:if>
    </f:section>
</html>
