<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:variable name="statistics" value="{event.statistics}"/>
    <f:if condition="{settings.registrationPage} && {event.registrationRequired}">
        <f:if condition="{event.registrationPossibleByDate} && {statistics.anyVacancies}">
            <f:link.action controller="EventRegistration" action="checkPrerequisites"
                           pageUid="{settings.registrationPage}" arguments="{event: event}">
                <f:if condition="{statistics.regularVacancies}">
                    <f:then>
                        <f:translate key="plugin.{viewName}.events.property.registration.register"/>
                    </f:then>
                    <f:else>
                        <f:translate key="plugin.{viewName}.events.property.registration.waitingList"/>
                    </f:else>
                </f:if>
            </f:link.action>
        </f:if>
    </f:if>
</html>
