<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="row">
        <f:for each="{event.venues}" as="venue">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {venue.title}
                        </h5>
                        <f:if condition="{venue.fullAddress}">
                            <p class="card-text">
                                {venue.fullAddress -> f:format.nl2br()}
                            </p>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</html>
