<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:for each="{event.venues}" as="venue" iteration="iteration">
        <div class="text-left">
            <h3 class="h6 mb-0{f:if(condition: venue.fullAddress, then: ' fw-bold')}">
                {venue.title}
            </h3>
            <f:if condition="{venue.fullAddress}">
                <p{f:if(condition: iteration.isLast, then: ' class="mb-0"', else: '')}>
                {venue.fullAddress -> f:format.nl2br()}
                </p>
            </f:if>
        </div>
    </f:for>
</html>
