<!DOCTYPE html>
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="BackEndModule"/>

    <f:section name="Header">
    </f:section>

    <f:section name="Content">
        <f:variable name="propertyLabelPrefix" value="backEndModule.events.property"/>

        <f:if condition="{permissions.readAccessToRegistrations}">
            <div class="row">
                <h1 class="col-auto me-auto">
                    <f:translate key="backEndModule.heading.registrations"/>
                </h1>
                <div class="col-auto">
                    <f:if condition="{regularRegistrations}">
                        <f:link.action action="exportCsvForEvent" arguments="{eventUid: event.uid}"
                                       class="btn btn-default btn-sm">
                            <core:icon identifier="actions-document-export-csv"/>
                            <f:translate key="backEndModule.action.csvDownload"/>
                        </f:link.action>
                    </f:if>
                </div>
            </div>
            <p>
                <f:link.action controller="BackEnd\Module" action="overview" arguments="{id: pageUid}">
                    <f:translate key="backEndModule.action.backToEventList"/>
                </f:link.action>
            </p>

            <h2>
                {f:render(partial: 'EventDate', arguments: {event: event}) -> f:variable(name: 'eventDate')}
                <f:translate key="plugin.eventShared.heading.eventTitleAndDateAndUid"
                             arguments="{0: event.internalTitle, 1: eventDate, 2: event.uid}"/>
            </h2>

            <div class="table-responsive">
                <table class="table table-hover w-auto">
                    <tbody>
                        <tr>
                            <th scope="row" class="nowrap">
                                <f:translate key="{propertyLabelPrefix}.seats"/>
                            </th>
                            <td class="nowrap">
                                <f:render partial="BackEnd/SeatStatistics" arguments="{event: event}"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="nowrap">
                                <f:translate key="{propertyLabelPrefix}.registrations"/>
                            </th>
                            <td class="nowrap">
                                <f:render partial="BackEnd/RegistrationStatistics" arguments="{event: event}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>
                <core:icon identifier="actions-check"/>
                <f:translate key="backEndModule.heading.regularRegistrations"
                             arguments="{0: '{f:count(subject: regularRegistrations)}'}"/>
            </h2>
            <f:if condition="{regularRegistrations}">
                <f:then>
                    <f:render partial="BackEnd/RegistrationList"
                              arguments="{eventUid: event.uid, registrations: regularRegistrations, permissions: permissions}"/>
                </f:then>
                <f:else>
                    <f:render partial="BackEnd/FlashMessage"
                              arguments="{severity: 'info', messageBodyKey: 'noRegistrationsForEvent'}"/>
                </f:else>
            </f:if>

            <f:if condition="{waitingListRegistrations}">
                <h2>
                    <core:icon identifier="actions-clock"/>
                    <f:translate key="backEndModule.heading.waitingListRegistrations"
                                 arguments="{0: '{f:count(subject: waitingListRegistrations)}'}"/>
                </h2>
                <f:render partial="BackEnd/RegistrationList"
                          arguments="{eventUid: event.uid, registrations: waitingListRegistrations, permissions: permissions}"/>
            </f:if>
        </f:if>
    </f:section>
</html>
