table.typo3-dblist {
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

td {
	white-space: nowrap;
}

td.datecol,
td.attendees,
td.attendees_min,
td.attendees_max,
td.enough_attendees,
td.is_full {
	text-align: right;
}

img.icon {
	margin-left: 4px;
}

img.deleteicon {
	margin-left: 8px;
}

img.hideicon {
	margin-left: 4px;
}

table {
	clear: both;
}

#typo3-newRecordLink {
	width: 20em;
	float: left;
}

.clearUpDownButton {
	padding: 0;
	margin: 0;
	padding-left: 12px;
	margin-left: 4px;
}

/*
 * The following is mostly the same as the style for the new record link
 * provided by the TYPO3 4.1 default skin.
 */
#typo3-csvLink {
	font-weight: bold;
	margin: 10px 0 5px;
	width: 20em;
	float: right;
}

#typo3-csvLink img {
	margin-right: 5px;
	vertical-align: middle;
}

#typo3-csvLink a {
	vertical-align: middle;
}

td.status {
	text-align: center;
}

td.confirm_button input {
	background: #fff url("icon_confirmed.png") no-repeat 2px 1px;
	padding: 2px 2px 2px 17px;
}
