# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    milestone: 29

  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "development"
    ignore:
      - dependency-name: "doctrine/dbal"
      - dependency-name: "egulias/email-validator"
      - dependency-name: "helmich/typo3-typoscript-lint"
      - dependency-name: "pelago/emogrifier"
      - dependency-name: "phpunit/phpunit"
        versions: [ ">= 10" ]
      - dependency-name: "symfony/*"
      - dependency-name: "typo3/cms-*"
      - dependency-name: "typo3/coding-standards"
        versions: [ ">= 0.7.0" ]
      - dependency-name: "typo3/testing-framework"
        versions: [ ">= 0.8.0" ]
    versioning-strategy: "increase"
    milestone: 29
