# Please keep the lines in this file sorted.
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.phive/ export-ignore
/.php-cs-fixer.php
/.php_cs.dist export-ignore
/Build/ export-ignore
/CODE_OF_CONDUCT.md export-ignore
/Configuration/FunctionalTests.xml export-ignore
/Configuration/UnitTests.xml export-ignore
/Resources/Private/Patches/ export-ignore
/Tests/ export-ignore
/composer-unused.php export-ignore
/crowdin.yml export-ignore
/docker-compose.yml export-ignore
/phpstan-baseline.neon export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
