<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="phpList Coding Standard">
    <description>
        This standard requires PHP_CodeSniffer >= 3.5.4.
    </description>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <!-- The complete PSR-12 ruleset -->
    <rule ref="PSR12">
        <!-- We'll enable this rule once the line lengths are fixed. -->
        <exclude name="Generic.Files.LineLength"/>
    </rule>
</ruleset>
