includes:
    - .Build/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
  phpVersion: 70400

  level: 9

  bootstrapFiles:
    - .Build/vendor/autoload.php

  paths:
    - Classes
    - Tests
    - ext_localconf.php
    - ext_tables.php

  type_perfect:
    no_mixed_property: true
    no_mixed_caller: true
    null_over_false: true
    narrow_param: true
    narrow_return: true

  ignoreErrors:
    -
      message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) .* will always evaluate to#'
      path: 'Tests/'
