includes:
    - .Build/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
  parallel:
      # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
      maximumNumberOfProcesses: 5

  level: 9

  bootstrapFiles:
    - .Build/vendor/autoload.php

  paths:
    - Classes
    - Tests

  ignoreErrors:
    -
      message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) .* will always evaluate to#'
      path: 'Tests/'
