includes:
    - .Build/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
  level: 9

  bootstrapFiles:
    - .Build/vendor/autoload.php

  paths:
    - Classes
    - Tests

  # Allow instanceof checks, particularly in tests
  checkAlwaysTrueCheckTypeFunctionCall: false
