body {
	font: Arial,Helvetica,sans-serif;
	font-size: 12px;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
}
dd {
	margin-left: 0;
}
dt {
	padding: 0;
	margin-top: 1em;
}
p {
	padding: 0;
	margin-top: 1em;
}
