<!--###LIST_HEADER### -->
  <thead>
    <tr ###CLASS_HEADERROW###>
<!--###LISTHEADER_WRAPPER_TITLE### -->      <th ###CLASS_HEADERTITLE###>###HEADER_TITLE###</th>
<!--###LISTHEADER_WRAPPER_TITLE### --><!--###LISTHEADER_WRAPPER_DATE### -->      <th ###CLASS_HEADERDATE###>###HEADER_DATE###</th>
<!--###LISTHEADER_WRAPPER_DATE### --><!--###LISTHEADER_WRAPPER_PRICE### -->      <th ###CLASS_HEADERPRICE###>###HEADER_PRICE###</th>
<!--###LISTHEADER_WRAPPER_PRICE### --><!--###LISTHEADER_WRAPPER_ORGANIZERS### -->      <th ###CLASS_HEADERORGANIZERS###>###HEADER_ORGANIZERS###</th>
<!--###LISTHEADER_WRAPPER_ORGANIZERS### --><!--###LISTHEADER_WRAPPER_VACANCIES### -->      <th ###CLASS_HEADERVACANCIES###>###HEADER_VACANCIES###</th>
<!--###LISTHEADER_WRAPPER_VACANCIES### -->    </tr>
  </thead>
<!--###LIST_HEADER### -->


<!--###LIST_ITEM### -->  <tr ###CLASS_ITEMROW###>
<!--###LISTITEM_WRAPPER_TITLE### -->    <td ###CLASS_LISTTITLE###>###TITLE_LINK###</td>
<!--###LISTITEM_WRAPPER_TITLE### --><!--###LISTITEM_WRAPPER_DATE### -->    <td ###CLASS_LISTDATE###>###DATE###</td>
<!--###LISTITEM_WRAPPER_DATE### --><!--###LISTITEM_WRAPPER_PRICE### -->    <td ###CLASS_LISTPRICE###>###PRICE###</td>
<!--###LISTITEM_WRAPPER_PRICE### --><!--###LISTITEM_WRAPPER_ORGANIZERS### -->    <td ###CLASS_LISTORGANIZERS###>###ORGANIZERS###</td>
<!--###LISTITEM_WRAPPER_ORGANIZERS### --><!--###LISTITEM_WRAPPER_VACANCIES### -->    <td ###CLASS_LISTVACANCIES###>###VACANCIES###&nbsp;&nbsp;<span ###CLASS_SQUARE###>&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
<!--###LISTITEM_WRAPPER_VACANCIES### -->  </tr>
<!--###LIST_ITEM### -->


<!--###SINGLE_VIEW###  -->
<!--###FIELD_WRAPPER_TITLE### --><h2>###TYPE###: ###TITLE###</h2>

<!--###FIELD_WRAPPER_TITLE### --><!--###FIELD_WRAPPER_SUBTITLE### --><h3>###SUBTITLE###</h3>

<!--###FIELD_WRAPPER_SUBTITLE### --><!--###FIELD_WRAPPER_DESCRIPTION### -->###DESCRIPTION###

<!--###FIELD_WRAPPER_DESCRIPTION### --><!--###FIELD_WRAPPER_DATE### --><h3>###LABEL_DATE###</h3>
<p>###DATE###</p>

<!--###FIELD_WRAPPER_DATE### --><!--###FIELD_WRAPPER_TIME### --><h3>###LABEL_TIME###</h3>
<p>###TIME###</p>

<!--###FIELD_WRAPPER_TIME### --><!--###FIELD_WRAPPER_PLACE### --><h3>###LABEL_PLACE###</h3>
###PLACE###

<!--###FIELD_WRAPPER_PLACE### --><!--###FIELD_WRAPPER_ROOM### --><h3>###LABEL_ROOM###</h3>
<p>###ROOM###</p>

<!--###FIELD_WRAPPER_ROOM### --><!--###FIELD_WRAPPER_SPEAKERS### --><h3>###LABEL_SPEAKERS###</h3>
###SPEAKERS###

<!--###FIELD_WRAPPER_SPEAKERS### --><!--###FIELD_WRAPPER_PRICE### --><h3>###LABEL_PRICE_REGULAR###</h3>
<p>###PRICE###</p>

<!--###FIELD_WRAPPER_PRICE### --><!--###FIELD_WRAPPER_PAYMENTMETHODS### --><h3>###LABEL_PAYMENTMETHODS###</h3>
###PAYMENTMETHODS###

<!--###FIELD_WRAPPER_PAYMENTMETHODS### --><!--###FIELD_WRAPPER_ORGANIZERS### --><h3>###LABEL_ORGANIZERS###</h3>
<p>###ORGANIZERS###</p>

<!--###FIELD_WRAPPER_ORGANIZERS### --><!--###FIELD_WRAPPER_VACANCIES### --><h3>###LABEL_VACANCIES###</h3>
<p>###VACANCIES###</p>

<!--###FIELD_WRAPPER_VACANCIES### --><!--###FIELD_WRAPPER_REGISTRATION### --><h3>###LABEL_REGISTRATION###</h3>
<p>###REGISTRATION###</p>

<!--###FIELD_WRAPPER_REGISTRATION### --><!--###FIELD_WRAPPER_BACK### --><hr />

<p>###BACKLINK###</p>

<!--###FIELD_WRAPPER_BACK### -->

<!--###SINGLE_VIEW###  -->


<!--###REGISTRATION_HEAD### -->
<h1>###LABEL_REGISTRATION###: ###TITLE###</h1>
<!--###WRAPPER_ERROR### --><p ###CLASS_ERROR###>###ERROR_TEXT###</p>

<!--###WRAPPER_ERROR### -->
<!--###REGISTRATION_HEAD### -->


<!--###REGISTRATION_DETAILS### -->
<p><strong>###LABEL_PRICE_REGULAR###:</strong> ###PRICE###</p>
<p><strong>###LABEL_VACANCIES###:</strong> ###VACANCIES###</p>
<!--###REGISTRATION_DETAILS### -->


<!--###REGISTRATION_THANKYOU### -->
<p>###LABEL_THANKYOU###</p>
<!--###REGISTRATION_THANKYOU### -->
