<!-- ###MESSAGE_MY_EVENTS### --><p>
  ###LABEL_MYEVENTS###
</p>
<!-- ###MESSAGE_MY_EVENTS### -->

<!-- ###MESSAGE_MY_VIP_EVENTS### --><p>
  ###LABEL_MYVIPEVENTS###
</p>
<!-- ###MESSAGE_MY_VIP_EVENTS### -->

<!-- ###LIST_HEADER### --><div###CLASS_EVENTLIST###>
  <table>
    <thead>
      <tr###CLASS_HEADERROW###>
<!-- ###LISTHEADER_WRAPPER_TITLE### -->      <th###CLASS_HEADERTITLE###>###HEADER_TITLE###</th>
<!-- ###LISTHEADER_WRAPPER_TITLE### --><!-- ###LISTHEADER_WRAPPER_UID### -->      <th###CLASS_HEADERUID###>###HEADER_UID###</th>
<!-- ###LISTHEADER_WRAPPER_UID### --><!-- ###LISTHEADER_WRAPPER_EVENT_TYPE### -->      <th###CLASS_HEADEREVENT_TYPE###>###HEADER_EVENT_TYPE###</th>
<!-- ###LISTHEADER_WRAPPER_EVENT_TYPE### --><!-- ###LISTHEADER_WRAPPER_ACCREDITATION_NUMBER### -->      <th###CLASS_HEADERACCREDITATION_NUMBER###>###HEADER_ACCREDITATION_NUMBER###</th>
<!-- ###LISTHEADER_WRAPPER_ACCREDITATION_NUMBER### --><!-- ###LISTHEADER_WRAPPER_CREDIT_POINTS### -->      <th###CLASS_HEADERCREDIT_POINTS###>###HEADER_CREDIT_POINTS###</th>
<!-- ###LISTHEADER_WRAPPER_CREDIT_POINTS### --><!-- ###LISTHEADER_WRAPPER_SPEAKERS### -->      <th###CLASS_HEADERSPEAKERS###>###HEADER_SPEAKERS###</th>
<!-- ###LISTHEADER_WRAPPER_SPEAKERS### --><!-- ###LISTHEADER_WRAPPER_DATE### -->      <th###CLASS_HEADERDATE###>###HEADER_DATE###</th>
<!-- ###LISTHEADER_WRAPPER_DATE### --><!-- ###LISTHEADER_WRAPPER_TIME### -->      <th###CLASS_HEADERTIME###>###HEADER_TIME###</th>
<!-- ###LISTHEADER_WRAPPER_TIME### --><!-- ###LISTHEADER_WRAPPER_PLACE### -->      <th###CLASS_HEADERPLACE###>###HEADER_PLACE###</th>
<!-- ###LISTHEADER_WRAPPER_PLACE### --><!-- ###LISTHEADER_WRAPPER_PRICE_REGULAR### -->      <th###CLASS_HEADERPRICE_REGULAR###>###HEADER_PRICE_REGULAR###</th>
<!-- ###LISTHEADER_WRAPPER_PRICE_REGULAR### --><!-- ###LISTHEADER_WRAPPER_PRICE_SPECIAL### -->      <th###CLASS_HEADERPRICE_SPECIAL###>###HEADER_PRICE_SPECIAL###</th>
<!-- ###LISTHEADER_WRAPPER_PRICE_SPECIAL### --><!-- ###LISTHEADER_WRAPPER_ORGANIZERS### -->      <th###CLASS_HEADERORGANIZERS###>###HEADER_ORGANIZERS###</th>
<!-- ###LISTHEADER_WRAPPER_ORGANIZERS### --><!-- ###LISTHEADER_WRAPPER_VACANCIES### -->      <th###CLASS_HEADERVACANCIES###>###HEADER_VACANCIES###</th>
<!-- ###LISTHEADER_WRAPPER_VACANCIES### --><!-- ###LISTHEADER_WRAPPER_REGISTRATION### -->      <th###CLASS_HEADERREGISTRATION###>###HEADER_REGISTRATION###</th>
<!-- ###LISTHEADER_WRAPPER_REGISTRATION### --><!-- ###LISTHEADER_WRAPPER_LIST_REGISTRATIONS### -->      <th###CLASS_HEADERLIST_REGISTRATIONS###>###HEADER_LIST_REGISTRATIONS###</th>
<!-- ###LISTHEADER_WRAPPER_LIST_REGISTRATIONS### -->    </tr>
    </thead>
    <tbody>
<!-- ###LIST_HEADER### -->

<!-- ###LIST_FOOTER### -->    </tbody>
  </table>
</div>
<!-- ###LIST_FOOTER### -->

<!-- ###LIST_ITEM### -->    <tr###CLASS_ITEMROW###>
<!-- ###LISTITEM_WRAPPER_TITLE### -->      <td###CLASS_LISTTITLE###>###TITLE_LINK###</td>
<!-- ###LISTITEM_WRAPPER_TITLE### --><!-- ###LISTITEM_WRAPPER_UID### -->      <td###CLASS_LISTUID###>###UID###</td>
<!-- ###LISTITEM_WRAPPER_UID### --><!-- ###LISTITEM_WRAPPER_EVENT_TYPE### -->      <td###CLASS_LISTEVENT_TYPE###>###EVENT_TYPE###</td>
<!-- ###LISTITEM_WRAPPER_EVENT_TYPE### --><!-- ###LISTITEM_WRAPPER_ACCREDITATION_NUMBER### -->      <td###CLASS_LISTACCREDITATION_NUMBER###>###ACCREDITATION_NUMBER###</td>
<!-- ###LISTITEM_WRAPPER_ACCREDITATION_NUMBER### --><!-- ###LISTITEM_WRAPPER_CREDIT_POINTS### -->      <td###CLASS_LISTCREDIT_POINTS###>###CREDIT_POINTS###</td>
<!-- ###LISTITEM_WRAPPER_CREDIT_POINTS### --><!-- ###LISTITEM_WRAPPER_SPEAKERS### -->      <td###CLASS_LISTSPEAKERS###>###SPEAKERS###</td>
<!-- ###LISTITEM_WRAPPER_SPEAKERS### --><!-- ###LISTITEM_WRAPPER_DATE### -->      <td###CLASS_LISTDATE###>###DATE###</td>
<!-- ###LISTITEM_WRAPPER_DATE### --><!-- ###LISTITEM_WRAPPER_TIME### -->      <td###CLASS_LISTTIME###>###TIME###</td>
<!-- ###LISTITEM_WRAPPER_TIME### --><!-- ###LISTITEM_WRAPPER_PLACE### -->      <td###CLASS_LISTPLACE###>###PLACE###</td>
<!-- ###LISTITEM_WRAPPER_PLACE### --><!-- ###LISTITEM_WRAPPER_PRICE_REGULAR### -->      <td###CLASS_LISTPRICE_REGULAR###>###PRICE_REGULAR###</td>
<!-- ###LISTITEM_WRAPPER_PRICE_REGULAR### --><!-- ###LISTITEM_WRAPPER_PRICE_SPECIAL### -->      <td###CLASS_LISTPRICE_SPECIAL###>###PRICE_SPECIAL###</td>
<!-- ###LISTITEM_WRAPPER_PRICE_SPECIAL### --><!-- ###LISTITEM_WRAPPER_ORGANIZERS### -->      <td###CLASS_LISTORGANIZERS###>###ORGANIZERS###</td>
<!-- ###LISTITEM_WRAPPER_ORGANIZERS### --><!-- ###LISTITEM_WRAPPER_VACANCIES### -->      <td###CLASS_LISTVACANCIES###>###VACANCIES###&nbsp;&nbsp;<span###CLASS_SQUARE###>&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
<!-- ###LISTITEM_WRAPPER_VACANCIES### --><!-- ###LISTITEM_WRAPPER_REGISTRATION### -->      <td###CLASS_LISTREGISTRATION###>###REGISTRATION###</td>
<!-- ###LISTITEM_WRAPPER_REGISTRATION### --><!-- ###LISTITEM_WRAPPER_LIST_REGISTRATIONS### -->      <td###CLASS_LISTLIST_REGISTRATIONS###>###LIST_REGISTRATIONS###</td>
<!-- ###LISTITEM_WRAPPER_LIST_REGISTRATIONS### -->    </tr>
<!-- ###LIST_ITEM### -->


<!-- ###SINGLE_VIEW###  -->

<!-- ###FIELD_WRAPPER_TITLE### --><h2>###EVENT_TYPE###: ###TITLE###</h2>

<!-- ###FIELD_WRAPPER_TITLE### --><!-- ###FIELD_WRAPPER_SUBTITLE### --><h3>###SUBTITLE###</h3>

<!-- ###FIELD_WRAPPER_SUBTITLE### --><!-- ###FIELD_WRAPPER_DESCRIPTION### -->###DESCRIPTION###

<!-- ###FIELD_WRAPPER_DESCRIPTION### --><!-- ###FIELD_WRAPPER_ACCREDITATION_NUMBER### --><h3>###LABEL_ACCREDITATION_NUMBER###</h3>
<p>###ACCREDITATION_NUMBER###</p>

<!-- ###FIELD_WRAPPER_ACCREDITATION_NUMBER### --><!-- ###FIELD_WRAPPER_CREDIT_POINTS### --><h3>###LABEL_CREDIT_POINTS###</h3>
<p>###CREDIT_POINTS###</p>

<!-- ###FIELD_WRAPPER_CREDIT_POINTS### --><!-- ###FIELD_WRAPPER_DATE### --><h3>###LABEL_DATE###</h3>
<p>###DATE###</p>

<!-- ###FIELD_WRAPPER_DATE### --><!-- ###FIELD_WRAPPER_UID### --><h3>###LABEL_UID###</h3>
<p>###UID###</p>

<!-- ###FIELD_WRAPPER_UID### --><!-- ###FIELD_WRAPPER_TIME### --><h3>###LABEL_TIME###</h3>
<p>###TIME###</p>

<!-- ###FIELD_WRAPPER_TIME### --><!-- ###FIELD_WRAPPER_PLACE### --><h3>###LABEL_PLACE###</h3>
###PLACE###

<!-- ###FIELD_WRAPPER_PLACE### --><!-- ###FIELD_WRAPPER_ROOM### --><h3>###LABEL_ROOM###</h3>
<p>###ROOM###</p>

<!-- ###FIELD_WRAPPER_ROOM### --><!-- ###FIELD_WRAPPER_SPEAKERS### --><h3>###LABEL_SPEAKERS###</h3>
###SPEAKERS###

<!-- ###FIELD_WRAPPER_SPEAKERS### --><!-- ###FIELD_WRAPPER_PRICE_REGULAR### --><h3>###LABEL_PRICE_REGULAR###</h3>
<p>###PRICE_REGULAR###</p>

<!-- ###FIELD_WRAPPER_PRICE_REGULAR### --><!-- ###FIELD_WRAPPER_PRICE_SPECIAL### --><h3>###LABEL_PRICE_SPECIAL###</h3>
<p>###PRICE_SPECIAL###</p>

<!-- ###FIELD_WRAPPER_PRICE_SPECIAL### --><!-- ###FIELD_WRAPPER_PAYMENTMETHODS### --><h3>###LABEL_PAYMENTMETHODS###</h3>
###PAYMENTMETHODS###

<!-- ###FIELD_WRAPPER_PAYMENTMETHODS### --><!-- ###FIELD_WRAPPER_ORGANIZERS### --><h3>###LABEL_ORGANIZERS###</h3>
<p>###ORGANIZERS###</p>

<!-- ###FIELD_WRAPPER_ORGANIZERS### --><!-- ###FIELD_WRAPPER_VACANCIES### --><h3>###LABEL_VACANCIES###</h3>
<p>###VACANCIES###</p>

<!-- ###FIELD_WRAPPER_VACANCIES### --><!-- ###FIELD_WRAPPER_DEADLINE_REGISTRATION### --><h3>###LABEL_DEADLINE_REGISTRATION###</h3>
<p>###DEADLINE_REGISTRATION###</p>

<!-- ###FIELD_WRAPPER_DEADLINE_REGISTRATION### --><!-- ###FIELD_WRAPPER_REGISTRATION### --><h3>###LABEL_REGISTRATION###</h3>
<p>###REGISTRATION###</p>

<!-- ###FIELD_WRAPPER_REGISTRATION### --><!-- ###FIELD_WRAPPER_LIST_REGISTRATIONS### --><h3>###LABEL_LIST_REGISTRATIONS###</h3>
<p>###LIST_REGISTRATIONS###</p>

<!-- ###FIELD_WRAPPER_LIST_REGISTRATIONS### --><!-- ###FIELD_WRAPPER_BACK### --><hr />

<p>###BACKLINK###</p>

<!-- ###FIELD_WRAPPER_BACK### -->

<!-- ###SINGLE_VIEW###  -->

<!-- ###ERROR_VIEW### -->
<p ###CLASS_ERROR###>###ERROR_TEXT###</p>

<!-- ###ERROR_VIEW### -->


<!-- ###REGISTRATION_HEAD### -->
<h1>###LABEL_REGISTRATION###: <!-- ###REGISTRATION_WRAPPER_UID### -->###LABEL_UID### ###UID###, <!-- ###REGISTRATION_WRAPPER_UID### --><!-- ###REGISTRATION_WRAPPER_ACCREDITATION_NUMBER### -->###LABEL_ACCREDITATION_NUMBER### ###ACCREDITATION_NUMBER###, <!-- ###REGISTRATION_WRAPPER_ACCREDITATION_NUMBER### -->###EVENT_TYPE###: <!-- ###REGISTRATION_WRAPPER_TITLE### -->###TITLE###<!-- ###REGISTRATION_WRAPPER_TITLE### --></h1>
<!-- ###WRAPPER_ERROR### --><p ###CLASS_ERROR###>###ERROR_TEXT###</p>

<!-- ###WRAPPER_ERROR### -->
<!-- ###REGISTRATION_HEAD### -->


<!-- ###REGISTRATION_DETAILS### -->
<!-- ###REGISTRATION_WRAPPER_PRICE_REGULAR### --><p><strong>###LABEL_PRICE_REGULAR###:</strong> ###PRICE_REGULAR###</p>
<!-- ###REGISTRATION_WRAPPER_PRICE_REGULAR### --><!-- ###REGISTRATION_WRAPPER_PRICE_SPECIAL### -->
<p><strong>###LABEL_PRICE_SPECIAL###:</strong> ###PRICE_SPECIAL###</p>
<!-- ###REGISTRATION_WRAPPER_PRICE_SPECIAL### --><!-- ###REGISTRATION_WRAPPER_VACANCIES### --><p><strong>###LABEL_VACANCIES###:</strong> ###VACANCIES###</p>
<!-- ###REGISTRATION_WRAPPER_VACANCIES### --><!-- ###REGISTRATION_DETAILS### -->


<!-- ###REGISTRATION_BOTTOM### -->
<div class="tx-seminars-pi1-clear"></div>
<!-- ###REGISTRATION_BOTTOM### -->


<!-- ###REGISTRATION_THANKYOU### -->
<p>###LABEL_THANKYOU###</p>
<!-- ###REGISTRATION_THANKYOU### -->


<!-- ###REGISTRATIONS_LIST_VIEW### -->
<h1>###LABEL_LIST_REGISTRATIONS###: ###TITLE###</h1>
<!-- ###WRAPPER_ERROR### --><p ###CLASS_ERROR###>###ERROR_TEXT###</p>

<!-- ###WRAPPER_ERROR### --><!-- ###WRAPPER_REGISTRATIONS_LIST_MESSAGE### -->
<p>###MESSAGE_NO_REGISTRATIONS###</p>
<!-- ###WRAPPER_REGISTRATIONS_LIST_MESSAGE### --><!-- ###WRAPPER_REGISTRATIONS_LIST_BODY### -->
<ol>
###REGISTRATIONS_LIST_BODY###</ol>
<!-- ###WRAPPER_REGISTRATIONS_LIST_BODY### --><!-- ###FIELD_WRAPPER_BACK### --><hr />

<p>###BACKLINK###</p>

<!-- ###FIELD_WRAPPER_BACK### --><!-- ###REGISTRATIONS_LIST_VIEW### -->

<!-- ###REGISTRATIONS_LIST_ITEM### -->  <li>###REGISTRATIONS_LIST_INNERITEM###</li>
<!-- ###REGISTRATIONS_LIST_ITEM### -->
