<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="OliverKlee\Seminars\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndDefault"/>

    <f:section name="main">
        <f:if condition="{registrations}">
            <f:then>
                <f:render partial="MyRegistrations/Index" arguments="{registrations: registrations}"/>
            </f:then>
            <f:else>
                <p class="alert alert-info" role="alert">
                    <s:salutationAwareTranslate key="plugin.myRegistrations.messages.noRegistrations"/>
                </p>
            </f:else>
        </f:if>
    </f:section>
</html>
