<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../../CSS/thankYouMail.css" />
        <title>
            Email templates for the Seminar Manager
        </title>
    </head>
    <body>
        <h1>
            Email templates for the Seminar Manager
        </h1>

<h2>Template for plain-text version of the thank-you mail to the attendee</h2>
<pre>
<!-- ###MAIL_THANKYOU### -->
<!-- ###FIELD_WRAPPER_HELLO### -->###SALUTATION###

###INTRODUCTION###<!-- ###FIELD_WRAPPER_UNREGISTRATION_NOTICE### -->

###UNREGISTRATION_NOTICE###<!-- ###FIELD_WRAPPER_UNREGISTRATION_NOTICE### -->

<!-- ###FIELD_WRAPPER_HELLO### --><!-- ###FIELD_WRAPPER_UID### -->[###LABEL_UID###]
###UID###

<!-- ###FIELD_WRAPPER_UID### --><!-- ###FIELD_WRAPPER_TICKET_ID### -->[###LABEL_REGISTRATION_UID###]
###REGISTRATION_UID###

<!-- ###FIELD_WRAPPER_TICKET_ID### --><!-- ###FIELD_WRAPPER_PRICE### -->[###LABEL_PRICE_GENERAL###]
###PRICE###

<!-- ###FIELD_WRAPPER_PRICE### --><!-- ###FIELD_WRAPPER_ATTENDANCE_MODE### -->[###LABEL_ATTENDANCE_MODE###]
###ATTENDANCE_MODE###

<!-- ###FIELD_WRAPPER_ATTENDANCE_MODE### --><!-- ###FIELD_WRAPPER_SEATS### -->[###LABEL_SEATS###]
###SEATS###

<!-- ###FIELD_WRAPPER_SEATS### --><!-- ###FIELD_WRAPPER_TOTAL_PRICE### -->[###LABEL_TOTAL_PRICE###]
###TOTAL_PRICE###

<!-- ###FIELD_WRAPPER_TOTAL_PRICE### --><!-- ###FIELD_WRAPPER_ATTENDEES_NAMES### -->[###LABEL_ATTENDEES_NAMES###]
###ATTENDEES_NAMES###

<!-- ###FIELD_WRAPPER_ATTENDEES_NAMES### --><!-- ###FIELD_WRAPPER_LODGINGS### -->[###LABEL_LODGINGS###]
###LODGINGS###

<!-- ###FIELD_WRAPPER_LODGINGS### --><!-- ###FIELD_WRAPPER_ACCOMMODATION### -->[###LABEL_ACCOMMODATION###]
###ACCOMMODATION###

<!-- ###FIELD_WRAPPER_ACCOMMODATION### --><!-- ###FIELD_WRAPPER_FOODS### -->[###LABEL_FOODS###]
###FOODS###

<!-- ###FIELD_WRAPPER_FOODS### --><!-- ###FIELD_WRAPPER_FOOD### -->[###LABEL_FOOD###]
###FOOD###

<!-- ###FIELD_WRAPPER_FOOD### --><!-- ###FIELD_WRAPPER_CHECKBOXES### -->###CHECKBOXES###

<!-- ###FIELD_WRAPPER_CHECKBOXES### --><!-- ###FIELD_WRAPPER_KIDS### -->[###LABEL_KIDS###]
###KIDS###

<!-- ###FIELD_WRAPPER_KIDS### --><!-- ###FIELD_WRAPPER_ACCREDITATION_NUMBER### -->[###LABEL_ACCREDITATION_NUMBER###]
###ACCREDITATION_NUMBER###

<!-- ###FIELD_WRAPPER_ACCREDITATION_NUMBER### --><!-- ###FIELD_WRAPPER_CREDIT_POINTS### -->[###LABEL_CREDIT_POINTS###]
###CREDIT_POINTS###

<!-- ###FIELD_WRAPPER_CREDIT_POINTS### --><!-- ###FIELD_WRAPPER_DATE### -->[###LABEL_DATE###]
###DATE###

<!-- ###FIELD_WRAPPER_DATE### --><!-- ###FIELD_WRAPPER_TIME### -->[###LABEL_TIME###]
###TIME###

<!-- ###FIELD_WRAPPER_TIME### --><!-- ###FIELD_WRAPPER_PLACE### -->[###LABEL_PLACE###]
###PLACE###

<!-- ###FIELD_WRAPPER_PLACE### --><!-- ###FIELD_WRAPPER_ROOM### -->[###LABEL_ROOM###]
###ROOM###

<!-- ###FIELD_WRAPPER_ROOM### --><!-- ###FIELD_WRAPPER_WEBINAR_URL### -->[###LABEL_WEBINAR_URL###]
<###WEBINAR_URL###>

<!-- ###FIELD_WRAPPER_WEBINAR_URL### --><!-- ###FIELD_WRAPPER_PAYMENTMETHOD### -->[###LABEL_PAYMENTMETHOD###]
###PAYMENTMETHOD###

<!-- ###FIELD_WRAPPER_PAYMENTMETHOD### --><!-- ###FIELD_WRAPPER_BILLING_ADDRESS### -->[###LABEL_BILLING_ADDRESS###]
###BILLING_ADDRESS###

<!-- ###FIELD_WRAPPER_BILLING_ADDRESS### --><!-- ###FIELD_WRAPPER_INTERESTS### -->[###LABEL_INTERESTS###]
###INTERESTS###

<!-- ###FIELD_WRAPPER_INTERESTS### --><!-- ###FIELD_WRAPPER_PLANNED_DISCLAIMER### -->
###LABEL_PLANNED_DISCLAIMER###<!-- ###FIELD_WRAPPER_PLANNED_DISCLAIMER### -->
<!-- ###FIELD_WRAPPER_ADDITIONAL_EMAIL_TEXT### -->###ADDITIONAL_EMAIL_TEXT###<!-- ###FIELD_WRAPPER_ADDITIONAL_EMAIL_TEXT### -->
<!-- ###FIELD_WRAPPER_FOOTER### -->###FOOTER###<!-- ###FIELD_WRAPPER_FOOTER### --><!-- ###MAIL_THANKYOU### -->
</pre>

<h2>Template for HTML version of the thank-you mail to the attendee</h2>
<!-- ###MAIL_THANKYOU_HTML### -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=###HTML_MAIL_CHARSET###" >
<title></title>
</head>
<body>
    <!-- ###HTML_FIELD_WRAPPER_HELLO### -->
        <p>###SALUTATION###</p>
        <p>###INTRODUCTION###</p>
    <!-- ###HTML_FIELD_WRAPPER_UNREGISTRATION_NOTICE### -->
        <p>###UNREGISTRATION_NOTICE###</p>
    <!-- ###HTML_FIELD_WRAPPER_UNREGISTRATION_NOTICE### -->
    <!-- ###HTML_FIELD_WRAPPER_HELLO### -->

<dl>
    <!-- ###HTML_FIELD_WRAPPER_UID### -->
        <dt>###LABEL_UID###</dt><dd>###UID###</dd>
    <!-- ###HTML_FIELD_WRAPPER_UID### -->
    <!-- ###HTML_FIELD_WRAPPER_TICKET_ID### -->
        <dt>###LABEL_REGISTRATION_UID###</dt><dd>###REGISTRATION_UID###</dd>
    <!-- ###HTML_FIELD_WRAPPER_TICKET_ID### -->
    <!-- ###HTML_FIELD_WRAPPER_PRICE### -->
        <dt>###LABEL_PRICE_GENERAL###</dt><dd>###PRICE###</dd>
    <!-- ###HTML_FIELD_WRAPPER_PRICE### -->
    <!-- ###HTML_FIELD_WRAPPER_ATTENDANCE_MODE### -->
        <dt>###LABEL_ATTENDANCE_MODE###</dt><dd>###ATTENDANCE_MODE###</dd>
    <!-- ###HTML_FIELD_WRAPPER_ATTENDANCE_MODE### -->
    <!-- ###HTML_FIELD_WRAPPER_SEATS### -->
        <dt>###LABEL_SEATS###</dt><dd>###SEATS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_SEATS### -->
    <!-- ###HTML_FIELD_WRAPPER_TOTAL_PRICE### -->
        <dt>###LABEL_TOTAL_PRICE###</dt><dd>###TOTAL_PRICE###</dd>
    <!-- ###HTML_FIELD_WRAPPER_TOTAL_PRICE### -->
    <!-- ###HTML_FIELD_WRAPPER_ATTENDEES_NAMES### -->
        <dt>###LABEL_ATTENDEES_NAMES###</dt><dd>###ATTENDEES_NAMES###</dd>
    <!-- ###HTML_FIELD_WRAPPER_ATTENDEES_NAMES### -->
    <!-- ###HTML_FIELD_WRAPPER_LODGINGS### -->
        <dt>###LABEL_LODGINGS###</dt><dd>###LODGINGS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_LODGINGS### -->
    <!-- ###HTML_FIELD_WRAPPER_ACCOMMODATION### -->
        <dt>###LABEL_ACCOMMODATION###</dt><dd>###ACCOMMODATION###</dd>
    <!-- ###HTML_FIELD_WRAPPER_ACCOMMODATION### -->
    <!-- ###HTML_FIELD_WRAPPER_FOODS### -->
        <dt>###LABEL_FOODS###</dt><dd>###FOODS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_FOODS### -->
    <!-- ###HTML_FIELD_WRAPPER_FOOD### -->
        <dt>###LABEL_FOOD###</dt><dd>###FOOD###</dd>
    <!-- ###HTML_FIELD_WRAPPER_FOOD### -->
    <!-- ###HTML_FIELD_WRAPPER_CHECKBOXES### -->
        <dd>###CHECKBOXES###</dd>
    <!-- ###HTML_FIELD_WRAPPER_CHECKBOXES### -->
    <!-- ###HTML_FIELD_WRAPPER_KIDS### -->
        <dt>###LABEL_KIDS###</dt><dd>###KIDS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_KIDS### -->
    <!-- ###HTML_FIELD_WRAPPER_ACCREDITATION_NUMBER### -->
        <dt>###LABEL_ACCREDITATION_NUMBER###</dt><dd>###ACCREDITATION_NUMBER###</dd>
    <!-- ###HTML_FIELD_WRAPPER_ACCREDITATION_NUMBER### -->
    <!-- ###HTML_FIELD_WRAPPER_CREDIT_POINTS### -->
        <dt>###LABEL_CREDIT_POINTS###</dt><dd>###CREDIT_POINTS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_CREDIT_POINTS### -->
    <!-- ###HTML_FIELD_WRAPPER_DATE### -->
        <dt>###LABEL_DATE###</dt><dd>###DATE###</dd>
    <!-- ###HTML_FIELD_WRAPPER_DATE### -->
    <!-- ###HTML_FIELD_WRAPPER_TIME### -->
        <dt>###LABEL_TIME###</dt><dd>###TIME###</dd>
    <!-- ###HTML_FIELD_WRAPPER_TIME### -->
    <!-- ###HTML_FIELD_WRAPPER_PLACE### -->
        <dt>###LABEL_PLACE###</dt><dd>###PLACE###</dd>
    <!-- ###HTML_FIELD_WRAPPER_PLACE### -->
    <!-- ###HTML_FIELD_WRAPPER_ROOM### -->
        <dt>###LABEL_ROOM###</dt><dd>###ROOM###</dd>
    <!-- ###HTML_FIELD_WRAPPER_ROOM### -->
    <!-- ###HTML_FIELD_WRAPPER_WEBINAR_URL### -->
        <dt>###LABEL_WEBINAR_URL###</dt><dd><a href="###WEBINAR_URL###">###WEBINAR_URL###</a></dd>
    <!-- ###HTML_FIELD_WRAPPER_WEBINAR_URL### -->
    <!-- ###HTML_FIELD_WRAPPER_PAYMENTMETHOD### -->
        <dt>###LABEL_PAYMENTMETHOD###</dt>
        <dd>###PAYMENTMETHOD###</dd>
    <!-- ###HTML_FIELD_WRAPPER_PAYMENTMETHOD### -->
    <!-- ###HTML_FIELD_WRAPPER_BILLING_ADDRESS### -->
        <dt>###LABEL_BILLING_ADDRESS###</dt>
        <dd>###BILLING_ADDRESS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_BILLING_ADDRESS### -->
    <!-- ###HTML_FIELD_WRAPPER_INTERESTS### -->
        <dt>###LABEL_INTERESTS###</dt>
        <dd>###INTERESTS###</dd>
    <!-- ###HTML_FIELD_WRAPPER_INTERESTS### -->
</dl>
    <!-- ###HTML_FIELD_WRAPPER_PLANNED_DISCLAIMER### -->
        <p>###LABEL_PLANNED_DISCLAIMER###</p>
    <!-- ###HTML_FIELD_WRAPPER_PLANNED_DISCLAIMER### -->
    <!-- ###HTML_FIELD_WRAPPER_ADDITIONAL_EMAIL_TEXT### -->
        <p>###ADDITIONAL_EMAIL_TEXT###</p>
    <!-- ###HTML_FIELD_WRAPPER_ADDITIONAL_EMAIL_TEXT### -->
    <!-- ###HTML_FIELD_WRAPPER_FOOTER### -->
        <p>###FOOTER###</p>
    <!-- ###HTML_FIELD_WRAPPER_FOOTER### -->
</body>
</html>
<!-- ###MAIL_THANKYOU_HTML### -->

<h2>Template for the notification email to the organizer</h2>
<pre>
<!-- ###MAIL_NOTIFICATION### -->
###HELLO###

<!-- ###FIELD_WRAPPER_SUMMARY### -->###SUMMARY###

<!-- ###FIELD_WRAPPER_SUMMARY### --><!-- ###FIELD_WRAPPER_SEMINARDATA### -->[###LABEL_SEMINARDATA###]
###SEMINARDATA###

<!-- ###FIELD_WRAPPER_SEMINARDATA### --><!-- ###FIELD_WRAPPER_FEUSERDATA### -->[###LABEL_FEUSERDATA###]
###FEUSERDATA###

<!-- ###FIELD_WRAPPER_FEUSERDATA### --><!-- ###FIELD_WRAPPER_ATTENDANCEDATA### -->[###LABEL_ATTENDANCEDATA###]
###ATTENDANCEDATA###

<!-- ###FIELD_WRAPPER_ATTENDANCEDATA### --><!-- ###MAIL_NOTIFICATION### -->
</pre>

<h2>Template for the additional notification email to the organizer</h2>
<pre>
<!-- ###MAIL_ADDITIONALNOTIFICATION### -->

<!-- ###FIELD_WRAPPER_MESSAGE### -->###MESSAGE###

<!-- ###FIELD_WRAPPER_MESSAGE### --><!-- ###FIELD_WRAPPER_SEMINARDATA### -->[###LABEL_SEMINARDATA###]
###SEMINARDATA###

<!-- ###FIELD_WRAPPER_SEMINARDATA### --><!-- ###MAIL_ADDITIONALNOTIFICATION### -->
</pre>
</body>
</html>
