<!DOCTYPE html>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/6.2/ViewHelpers">
    <body>
        <f:for each="{events}" as="event">
            <h2>
                {event.title}
                <f:if condition="{event.beginDateAsUnixTimeStamp}">
                    <f:variable name="dateFormat"
                                value="{f:translate(key: 'LLL:EXT:seminars/Resources/Private/Language/locallang.xlf:dateFormat')}"/>
                    ({f:format.date(date: event.beginDateAsUnixTimeStamp, format: dateFormat)})
                </f:if>
            </h2>
            <table>
                <f:for each="{event.attendeeNamesAfterLastDigest}" as="name">
                    <tr>
                        <td>
                            {name}
                        </td>
                    </tr>
                </f:for>
            </table>
        </f:for>
    </body>
</html>
