<!--###SIGN_IN_VIEW### begin -->
<!-- nicht fertig -->
sign in content
<!--###SIGN_IN_VIEW### end -->
<br />
<span class="template-descripion">SINGN-IN END</span>
<br />
<hr />
<span class="template-descripion">THANK_YOU</span>
<br />
<!--###THANK_YOU_VIEW### begin -->
<!-- nicht fertig -->
thank you content
<!--###THANK_YOU_VIEW### end -->
