<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:be.infobox title="Early-access program for TYPO3 12LTS support" state="-1">
        <p>
            The seminars extension offers support for TYPO3 12LTS via an early-access program.
            Order it now to be 12LTS-compatible and to support the work of the extension author.
        </p>
        <p>
            <a class="btn btn-info" role="button" target="_blank"
               href="https://github.com/oliverklee/ext-seminars/wiki/Early-access-program-for-newer-TYPO3-versions">
                Packages and pricing
            </a>
        </p>
    </f:be.infobox>
</html>
