<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:variable name="tableName" value="tx_seminars_attendances"/>
    <f:variable name="propertyLabelPrefix" value="backEndModule.events.property"/>
    <f:variable name="actionLabelPrefix" value="backEndModule.action"/>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col" colspan="2" class="nowrap">
                        <f:translate key="{propertyLabelPrefix}.uid"/>
                    </th>
                    <th scope="col" class="col-title col-responsive">
                        <f:translate key="{propertyLabelPrefix}.name"/>
                    </th>
                    <th scope="col" class="nowrap">
                        <f:translate key="{propertyLabelPrefix}.seats"/>
                    </th>
                    <th scope="col" class="nowrap">
                        <f:translate key="{propertyLabelPrefix}.invoicingStatus"/>
                    </th>
                    <f:if condition="{permissions.writeAccessToRegistrations}">
                        <th scope="col" class="col-control nowrap">&nbsp;</th>
                    </f:if>
                </tr>
            </thead>
            <tbody>
                <f:variable name="confirmTitle"
                            value="{f:translate(key: 'backEndModule.confirm.deleteRegistration.title')}"/>
                <f:variable name="confirmContent"
                            value="{f:translate(key: 'backEndModule.confirm.deleteRegistration.content')}"/>
                <f:variable name="confirmCancel"
                            value="{f:translate(key: 'backEndModule.confirm.deleteRegistration.cancel')}"/>
                <f:variable name="confirmOkay"
                            value="{f:translate(key: 'backEndModule.confirm.deleteRegistration.okay')}"/>

                <f:for each="{registrations}" as="registration">
                    <tr>
                        <td class="text-end text-right nowrap">
                            {registration.uid}
                        </td>
                        <td class="col-icon nowrap">
                            <core:iconForRecord table="{tableName}" row="{registration.rawData}"/>
                        </td>
                        <td class="col-title col-responsive">
                            <f:variable name="user" value="{registration.user}"/>
                            <f:if condition="{user}">
                                <f:then>
                                    <f:if condition="{permissions.writeAccessToFrontEndUsers}">
                                        <f:then>
                                            <be:link.editRecord uid="{user.uid}" table="fe_users"
                                                                title="{f:translate(key: '{actionLabelPrefix}.editFrontEndUser')}">
                                                <f:if condition="{user.name}">
                                                    <f:then>
                                                        {user.name}
                                                    </f:then>
                                                    <f:else if="{user.lastName}">
                                                        {user.lastName}
                                                    </f:else>
                                                    <f:else>
                                                        <f:translate key="backEndModule.registration.noName"
                                                                     arguments="{0: user.uid}"/>
                                                    </f:else>
                                                </f:if>
                                            </be:link.editRecord>
                                        </f:then>
                                        <f:else>
                                            {registration.user.name}
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <i>
                                        <f:translate key="backEndModule.registration.noUser"/>
                                    </i>
                                </f:else>
                            </f:if>
                        </td>
                        <td class="text-end text-right nowrap">
                            {registration.seats}
                        </td>
                        <td class="nowrap">
                            <f:if condition="{registration.paid}">
                                <f:then>
                                    <f:translate key="{propertyLabelPrefix}.invoicingStatus.paid"/>
                                </f:then>
                                <f:else if="{registration.invoice}">
                                    <f:translate key="{propertyLabelPrefix}.invoicingStatus.invoiced"/>
                                </f:else>
                            </f:if>
                        </td>
                        <f:if condition="{permissions.writeAccessToRegistrations}">
                            <td class="col-control nowrap">
                                <div class="btn-group" role="group">
                                    <be:link.editRecord uid="{registration.uid}" table="{tableName}"
                                                        class="btn btn-default"
                                                        title="{f:translate(key: '{actionLabelPrefix}.editRegistration')}">
                                        <core:icon identifier="actions-open"/>
                                    </be:link.editRecord>

                                    <span class="btn btn-default disabled">
                                    <core:icon identifier="empty-empty"/>
                                </span>
                                    <f:form controller="BackEnd\Registration" action="delete"
                                            arguments="{registrationUid: registration.uid, eventUid: eventUid}"
                                            class="t3js-seminars-confirmation-modal-trigger"
                                            data="{title: confirmTitle, content: confirmContent, button-close-text: confirmCancel, button-ok-text: confirmOkay}"
                                    >
                                        <button type="submit" class="btn btn-default"
                                                title="{f:translate(key: '{actionLabelPrefix}.deleteRegistration')}">
                                            <core:icon identifier="actions-delete"/>
                                        </button>
                                    </f:form>
                                </div>
                            </td>
                        </f:if>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</html>
