<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:variable name="statistics" value="{event.statistics}"/>

    <f:if condition="{statistics}">
        <f:if condition="{statistics.seatsLimit}">
            <f:then>
                <span title="{f:translate(key: '{propertyLabelPrefix}.seats.minimum')}">{statistics.minimumRequiredSeats}</span>–<span
                title="{f:translate(key: '{propertyLabelPrefix}.seats.maximum')}">{statistics.seatsLimit}</span>
            </f:then>
            <f:else>
                <span title="{f:translate(key: '{propertyLabelPrefix}.seats.minimum')}">{statistics.minimumRequiredSeats}</span>–<span
                title="{f:translate(key: '{propertyLabelPrefix}.seats.maximum')}">∞</span>
            </f:else>
        </f:if>
        <f:if condition="{statistics.seatsLimit} && {statistics.fullyBooked}">
            <f:then>
                <span title="{f:translate(key: '{propertyLabelPrefix}.registrations.fullyBooked')}"
                      class="text-warning">
                    <core:icon identifier="actions-bolt"/>
                </span>
            </f:then>
            <f:else if="{statistics.minimumRequiredSeats} && {statistics.enoughRegistrations}">
                <span title="{f:translate(key: '{propertyLabelPrefix}.registrations.enough')}" class="text-success">
                    <core:icon identifier="actions-check"/>
                </span>
            </f:else>
        </f:if>
    </f:if>
</html>
