<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{event.start}">
        <f:then>
            {f:render(partial: 'EventDate', arguments: {event: event}) -> f:variable(name: 'eventDate')}
            <f:translate key="plugin.eventShared.heading.eventTitleAndDate"
                         arguments="{0: event.displayTitle, 1: eventDate}"/>
        </f:then>
        <f:else>
            {event.displayTitle}
        </f:else>
    </f:if>
</html>
