<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{event.start}">
        {f:translate(key: 'dateFormat') -> f:variable(name: 'dateFormat')}
        {event.start -> f:format.date(format: dateFormat) -> f:variable(name: 'startDate')}
        <f:if condition="{event.multiDay}">
            <f:then>
                {event.end -> f:format.date(format: dateFormat) -> f:variable(name: 'endDate')}
                <f:translate key="range" arguments="{0: startDate, 1: endDate}"/>
            </f:then>
            <f:else>
                {startDate}
            </f:else>
        </f:if>
    </f:if>
</html>
