<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndEditor"/>

    <f:section name="main">
        <h2>
            <f:translate key="plugin.frontEndEditor.index.headline"/>
        </h2>
        <table class="table table-hover">
            <tr>
                <th scope="col">
                    <f:translate key="plugin.frontEndEditor.property.uid"/>
                </th>
                <th scope="col">
                    <f:translate key="plugin.frontEndEditor.property.internalTitle"/>
                </th>
                <th scope="col">
                    <f:translate key="plugin.frontEndEditor.property.date"/>
                </th>
                <th scope="col">
                </th>
            </tr>
            <f:for each="{events}" as="event">
                <tr>
                    <td>
                        {event.uid}
                    </td>
                    <td>
                        {event.internalTitle}
                    </td>
                    <td>
                        <f:if condition="{event.start}">
                            {event.start ->
                            f:format.date(format: '{f:translate(key: \'dateFormat\')}') ->
                            f:variable(name: 'startDate')}
                            <f:if condition="{event.end}">
                                {event.end ->
                                f:format.date(format: '{f:translate(key: \'dateFormat\')}') ->
                                f:variable(name: 'endDate')}
                                {f:variable(name: 'endDateWithDash', value: '–{endDate}')}
                            </f:if>
                            {startDate}{endDateWithDash}
                        </f:if>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{event: event}">
                            <f:translate key="plugin.frontEndEditor.action.edit"/>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </table>
    </f:section>
</html>
