<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>

    <f:section name="main">
        <f:security.ifAuthenticated>
            <f:then>
                <h2>
                    <f:translate key="plugin.frontEndEditor.index.headline"/>
                </h2>
                <table class="table table-hover">
                    <f:for each="{events}" as="event">
                        <tr>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.property.uid"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.property.internalTitle"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.property.date"/>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                {event.uid}
                            </td>
                            <td>
                                {event.internalTitle}
                            </td>
                            <td>
                                <f:if condition="{event.start}">
                                    {event.start -> f:format.date(format: '{f:translate(key: \'dateFormat\')}') ->
                                    f:variable(name: 'start')}
                                    <f:if condition="{event.end}">
                                        {event.end -> f:format.date(format: '{f:translate(key: \'dateFormat\')}') ->
                                        f:variable(name: 'end')}
                                        {f:variable(name: 'end', value: '–{end}')}
                                    </f:if>
                                    {start}{end}
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </f:then>
            <f:else>
                <f:be.security.ifAuthenticated>
                    <f:then>
                        <div class="alert alert-danger" role="alert">
                            Please configure this plugin to be only visible if a FE user in the group with the
                            permissions to edit events in the front end is logged in.
                        </div>
                    </f:then>
                    <f:else>
                        <div class="alert alert-warning" role="alert">
                            The configuration for this plugin is not correct. Please contact the site administrator.
                        </div>
                    </f:else>
                </f:be.security.ifAuthenticated>
            </f:else>
        </f:security.ifAuthenticated>
    </f:section>
</html>
