<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndEditor"/>

    <f:section name="main">
        <h2>
            <f:translate key="plugin.frontEndEditor.index.headline"/>
        </h2>
        <p>
            <f:link.action action="newSingleEvent">
                <f:translate key="plugin.frontEndEditor.action.new"/>
            </f:link.action>
        </p>
        <div class="table-responsive">
            <table class="table table-hover table-striped w-auto">
                <tr>
                    <th scope="col">
                        <f:translate key="plugin.frontEndEditor.property.uid"/>
                    </th>
                    <th scope="col">
                        <f:translate key="plugin.frontEndEditor.property.internalTitle"/>
                    </th>
                    <th scope="col">
                        <f:translate key="plugin.frontEndEditor.property.date"/>
                    </th>
                    <th scope="col">
                    </th>
                </tr>
                <f:for each="{events}" as="event">
                    <tr>
                        <td>
                            {event.uid}
                        </td>
                        <td>
                            {event.internalTitle}
                        </td>
                        <td>
                            <f:render partial="EventDate" arguments="{event: event}"/>
                        </td>
                        <td>
                            <f:link.action action="editSingleEvent" arguments="{event: event}">
                                <f:translate key="plugin.frontEndEditor.action.edit"/>
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </table>
        </div>
    </f:section>
</html>
