<!--###MY_VIEW_CE_TOP### begin -->
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
<!--###MY_VIEW_CE_TOP### end -->

<!--###MY_VIEW_MODE### begin -->
  <tr>
    <td colspan="16">&nbsp;</td>
  </tr>
<!--###MY_VIEW_MODE### end -->

<!--###MY_VIEW_HEAD### begin -->
  <tr>
    <td><!-- ###UID_LINK### -->###L_UID###<!-- ###UID_LINK### --></td>
    <td><!-- ###TITLE_LINK### -->###L_TITLE###<!-- ###TITLE_LINK### --></td>
    <td><!-- ###SUBTITLE_LINK### -->###L_SUBTITLE###<!-- ###SUBTITLE_LINK### --></td>
    <td><!-- ###BDATE_LINK### -->###L_BDATE###<!-- ###BDATE_LINK### --></td>
    <td><!-- ###EDATE_LINK### -->###L_EDATE###<!-- ###EDATE_LINK### --></td>
    <td><!-- ###PLACE_LINK### -->###L_PLACE###<!-- ###PLACE_LINK### --></td>
    <td><!-- ###SPEAKERS_LINK### -->###L_SPEAKERS###<!-- ###SPEAKERS_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
    <td><!-- ###_LINK### -->###L_###<!-- ###_LINK### --></td>
  </tr>
<!--###MY_VIEW_HEAD### end -->

<!--###MY_VIEW_ITEM### begin -->
  <tr>
    <td>###UID###</td>
    <td>###TITLE###</td>
    <td>###SUBTITLE###</td>
    <td>###BDATE###</td>
    <td>###EDATE###</td>
    <td>###PLACE###</td>
    <td>###SPEAKERS###</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="16">&nbsp;</td>
  </tr>
<!--###MY_VIEW_ITEM### end -->

<!--###MY_VIEW_FOOT### begin -->
  <tr>
    <td colspan="16">
	<!-- FORM ELEMENT -->
	###RESULTS### <br /> ###PAGES###
	</td>
  </tr>
<!--###MY_VIEW_FOOT### end -->

<!--###MY_VIEW_CE_BOTTOM### begin -->
</table>
<!--###MY_VIEW_CE_BOTTOM### end -->
