.typo3-backend-seminars-events-tabpanel-icon {
	background: url(../../Icons/EventComplete.gif) left center no-repeat !important;
}
.typo3-backend-seminars-registrations-tabpanel-icon {
	background: url(../../Icons/Registration.gif) left center no-repeat !important;
}
.typo3-backend-seminars-speakers-tabpanel-icon {
	background: url(../../Icons/Speaker.gif) left center no-repeat !important;
}
.typo3-backend-seminars-organizers-tabpanel-icon {
	background: url(../../Icons/Organizer.gif) left center no-repeat !important;
}
.confirm {
	background: url(../../Icons/Confirmed.png) left center no-repeat !important;
}
.cancel {
	background: url(../../Icons/Canceled.png) left center no-repeat !important;
}
td.planned div.x-grid3-cell-inner,
td.cancel div.x-grid3-cell-inner,
td.confirm div.x-grid3-cell-inner {
	padding-left: 18px;
}
.new {
	background: url(../../../../../../../typo3/sysext/t3skin/icons/gfx/new_record.gif) left center no-repeat !important;
}
.edit {
	background: url(../../../../../../../typo3/sysext/t3skin/icons/gfx/edit2.gif) left center no-repeat !important;
}
.delete {
	background: url(../../../../../../../typo3/sysext/t3skin/icons/gfx/delete_record.gif) left center no-repeat !important;
}
.csv {
	background: url(../../../../../../../typo3/sysext/t3skin/icons/gfx/csv.gif) left center no-repeat !important;
}
.hide {
	background: url(../../../../../../../typo3/sysext/t3skin/icons/gfx/button_hide.gif) left center no-repeat !important;
}
.unhide {
	background: url(../../../../../../../typo3/sysext/t3skin/icons/gfx/button_unhide.gif) left center no-repeat !important;
}
.typo3-backend-seminars-event-single-icon {
	background: url(../../Icons/EventComplete.gif) center center no-repeat !important;
}
.typo3-backend-seminars-event-date-icon {
	background: url(../../Icons/EventDate.gif) center center no-repeat !important;
}
.typo3-backend-seminars-event-topic-icon {
	background: url(../../Icons/EventTopic.gif) center center no-repeat !important;
}
.typo3-backend-seminars-registration-icon {
	background: url(../../Icons/Registration.gif) center center no-repeat !important;
}
.typo3-backend-seminars-speaker-icon {
	background: url(../../Icons/Speaker.gif) center center no-repeat !important;
}
.typo3-backend-seminars-organizer-icon {
	background: url(../../Icons/Organizer.gif) center center no-repeat !important;
}