<!DOCTYPE html>
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="BackEndModule"/>

    <f:section name="Header">
        <f:if condition="{events}">
            <be:moduleLayout.button.linkButton
                icon="actions-document-export-csv"
                title="{f:translate(key: 'backEndModule.action.csvDownload')}" showLabel="true"
                link="{f:uri.action(action: 'exportCsv', arguments: {pageUid: pageUid})}"
                group="0"
            />
        </f:if>
    </f:section>

    <f:section name="Content">
        <f:if condition="{permissions.readAccessToEvents}">
            <h1>
                <f:translate key="backEndModule.heading.events"/>
            </h1>

            <f:if condition="{pageUid} > 0">
                <f:then>
                    <f:if condition="{events}">
                        <f:then>
                            <f:render partial="BackEnd/EventList" arguments="{_all}"/>
                        </f:then>
                        <f:else>
                            <f:render partial="BackEnd/FlashMessage"
                                      arguments="{severity: 'info', messageBodyKey: 'noEventsInFolder'}"/>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:render partial="BackEnd/FlashMessage"
                              arguments="{severity: 'info', messageBodyKey: 'selectFolder'}"/>
                </f:else>
            </f:if>
        </f:if>
    </f:section>
</html>
