<!DOCTYPE html>
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="BackEndModule"/>

    <f:section name="Content">
        <h1>Events list</h1>
        <p>I will be an events list when I grow up.</p>

        <h2>Permissions</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Read events</th>
                    <td>{permissions.readAccessToEvents}</td>
                </tr>
                <tr>
                    <th scope="row">Read registrations</th>
                    <td>{permissions.readAccessToRegistrations}</td>
                </tr>
                <tr>
                    <th scope="row">page UID</th>
                    <td>{pageUid}</td>
                </tr>
            </tbody>
        </table>
    </f:section>
</html>
