<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="OliverKlee\Seminars\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="EventRegistration"/>

    <f:section name="main">
        <f:render partial="EventRegistration/Headline" arguments="{event: event}"/>

        <f:form action="create" name="registration" object="{registration}" class="tx-seminars-event-registration">
            <f:variable name="idPrefix" value="seminars-registration"/>
            <f:variable name="labelPrefix" value="plugin.eventRegistration.property"/>
            <f:variable name="actionLabelPrefix" value="plugin.eventRegistration.action"/>

            <f:comment>
                This is a workaround for Fluid not allowing variable array accesses.
            </f:comment>
            <f:for each="{applicablePrices}" as="price">
                <f:if condition="{price.priceCode} == {registration.priceCode}">
                    <f:variable name="selectedPrice" value="{price}"/>
                </f:if>
            </f:for>

            <h3>
                <s:salutationAwareTranslate key="plugin.eventRegistration.heading.registrationData"/>
            </h3>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">
                            <f:translate key="{labelPrefix}.seats"/>
                        </th>
                        <td>
                            {registration.seats}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <f:translate key="{labelPrefix}.attendeesNames"/>
                        </th>
                        <td>
                            <f:if condition="{registration.registeredThemselves}">
                                <f:then>
                                    <f:translate key="{labelPrefix}.registeredThemselves"/>
                                </f:then>
                                <f:else>
                                    <f:translate key="{labelPrefix}.registeredThemselves.not"/>
                                </f:else>
                            </f:if>

                            <f:if condition="{registration.attendeesNames}">
                                <br/>
                                {registration.attendeesNames -> f:format.nl2br()}
                            </f:if>
                        </td>
                    </tr>

                    <f:comment>
                        We cannot directly iterate over `registration.accommodationOptions` here, as Extbase then
                        only returns the first option. This is probably a bug in Extbase.
                    </f:comment>
                    <f:variable name="accommodationOptionTitles" value="{registration.accommodationOptionTitles}"/>
                    <f:if condition="{accommodationOptionTitles}">
                        <tr>
                            <th scope="row">
                                <f:translate key="{labelPrefix}.accommodationOptions"/>
                            </th>
                            <td>
                                <ul>
                                    <f:for each="{accommodationOptionTitles}" as="accommodationOptionTitle">
                                        <li>
                                            {accommodationOptionTitle}
                                        </li>
                                    </f:for>
                                    <f:for each="{event.accommodationOptions}" as="accommodationOption">
                                        <f:form.checkbox property="accommodationOptions"
                                                         value="{accommodationOption.uid}"
                                                         class="d-none tx-seminars-display-none"/>
                                    </f:for>
                                </ul>
                            </td>
                        </tr>
                    </f:if>

                    <f:comment>
                        We cannot directly iterate over `registration.foodOptions` here, as Extbase then
                        only returns the first option. This is probably a bug in Extbase.
                    </f:comment>
                    <f:variable name="foodOptionTitles" value="{registration.foodOptionTitles}"/>
                    <f:if condition="{foodOptionTitles}">
                        <tr>
                            <th scope="row">
                                <f:translate key="{labelPrefix}.foodOptions"/>
                            </th>
                            <td>
                                <ul>
                                    <f:for each="{foodOptionTitles}" as="foodOptionTitle">
                                        <li>
                                            {foodOptionTitle}
                                        </li>
                                    </f:for>
                                    <f:for each="{event.foodOptions}" as="foodOption">
                                        <f:form.checkbox property="foodOptions" value="{foodOption.uid}"
                                                         class="d-none tx-seminars-display-none"/>
                                    </f:for>
                                </ul>
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.interests}">
                        <tr>
                            <th scope="row">
                                <s:salutationAwareTranslate key="{labelPrefix}.interests"/>
                            </th>
                            <td>
                                {registration.interests -> f:format.nl2br()}
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.expectations}">
                        <tr>
                            <th scope="row">
                                <s:salutationAwareTranslate key="{labelPrefix}.expectations"/>
                            </th>
                            <td>
                                {registration.expectations -> f:format.nl2br()}
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.backgroundKnowledge}">
                        <tr>
                            <th scope="row">
                                <s:salutationAwareTranslate key="{labelPrefix}.backgroundKnowledge"/>
                            </th>
                            <td>
                                {registration.backgroundKnowledge -> f:format.nl2br()}
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.knownFrom}">
                        <tr>
                            <th scope="row">
                                <s:salutationAwareTranslate key="{labelPrefix}.knownFrom"/>
                            </th>
                            <td>
                                {registration.knownFrom -> f:format.nl2br()}
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.comments}">
                        <tr>
                            <th scope="row">
                                <s:salutationAwareTranslate key="{labelPrefix}.comments"/>
                            </th>
                            <td>
                                {registration.comments -> f:format.nl2br()}
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.priceCode}">
                        <tr>
                            <th scope="row">
                                <f:translate key="{labelPrefix}.priceCode"/>
                            </th>
                            <td>
                                <f:translate key="{selectedPrice.labelKey}"/>
                                <f:render partial="Price" arguments="{amount: selectedPrice.amount}"/>
                            </td>
                        </tr>
                    </f:if>

                    <f:if condition="{registration.paymentMethod}">
                        <tr>
                            <th scope="row">
                                <f:translate key="{labelPrefix}.paymentMethod"/>
                            </th>
                            <td>
                                {registration.paymentMethod.title}
                            </td>
                        </tr>
                    </f:if>
                </tbody>
            </table>

            <f:if condition="{registration.separateBillingAddress}}">
                <h3>
                    <f:translate key="{labelPrefix}.separateBillingAddress"/>
                </h3>
                <table class="table table-striped">
                    <tbody>
                        <f:if condition="{registration.billingCompany}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingCompany"/>
                                </th>
                                <td>
                                    {registration.billingCompany}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingFullName}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingFullName"/>
                                </th>
                                <td>
                                    {registration.billingFullName}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingStreetAddress}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingStreetAddress"/>
                                </th>
                                <td>
                                    {registration.billingStreetAddress -> f:format.nl2br()}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingZipCode}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingZipCode"/>
                                </th>
                                <td>
                                    {registration.billingZipCode}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingCity}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingCity"/>
                                </th>
                                <td>
                                    {registration.billingZipCode}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingCountry}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingCountry"/>
                                </th>
                                <td>
                                    {registration.billingCountry}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingPhoneNumber}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingPhoneNumber"/>
                                </th>
                                <td>
                                    {registration.billingPhoneNumber}
                                </td>
                            </tr>
                        </f:if>

                        <f:if condition="{registration.billingEmailAddress}">
                            <tr>
                                <th scope="row">
                                    <f:translate key="{labelPrefix}.billingEmailAddress"/>
                                </th>
                                <td>
                                    {registration.billingEmailAddress}
                                </td>
                            </tr>
                        </f:if>
                    </tbody>
                </table>
            </f:if>

            <f:if
                condition="{settings.termsAndConditionsPage} || {event.additionalTermsAndConditions} && {settings.additionalTermsPage}">
                <h3>
                    <f:translate key="plugin.eventRegistration.heading.termsAndConditions"/>
                </h3>

                <f:if condition="{settings.termsAndConditionsPage}">
                    {settings.termsAndConditionsLinkTitle
                    -> f:format.htmlentities()
                    -> f:link.page(pageUid: '{settings.termsAndConditionsPage}', target: '_blank')
                    -> f:variable(name: 'termsAndConditionsLink')}

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <f:form.checkbox property="consentedToTermsAndConditions"
                                                 id="{idPrefix}-consentedToTermsAndConditions"
                                                 class="form-check-input" errorClass="is-invalid"
                                                 value="1" checked="{registration.consentedToTermsAndConditions}"/>
                                <label for="{idPrefix}-consentedToTermsAndConditions" class="form-check-label">
                                    {f:translate(key: '{labelPrefix}.consentedToTermsAndConditions',
                                    arguments: {0: termsAndConditionsLink}) -> f:sanitize.html()}
                                </label>
                                <f:render partial="EventRegistration/ValidationResult"
                                          arguments="{property: 'consentedToTermsAndConditions'}"/>
                            </div>
                        </div>
                    </div>
                </f:if>

                <f:if condition="{event.additionalTermsAndConditions} && {settings.additionalTermsPage}">
                    {settings.additionalTermsLinkTitle
                    -> f:format.htmlentities()
                    -> f:link.page(pageUid: '{settings.additionalTermsPage}', target: '_blank')
                    -> f:variable(name: 'additionalTermsLink')}

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <f:form.checkbox property="consentedToAdditionalTerms"
                                                 id="{idPrefix}-consentedToAdditionalTerms"
                                                 class="form-check-input" errorClass="is-invalid"
                                                 value="1" checked="{registration.consentedToAdditionalTerms}"/>
                                <label for="{idPrefix}-consentedToAdditionalTerms" class="form-check-label">
                                    {f:translate(key: '{labelPrefix}.consentedToAdditionalTerms',
                                    arguments: {0: additionalTermsLink}) -> f:sanitize.html()}
                                </label>
                                <f:render partial="EventRegistration/ValidationResult"
                                          arguments="{property: 'consentedToAdditionalTerms'}"/>
                            </div>
                        </div>
                    </div>
                </f:if>
            </f:if>

            <h3>
                <f:translate key="plugin.eventRegistration.heading.summary"/>
            </h3>

            <table class="table table-striped table-primary">
                <tbody>
                    <tr>
                        <th scope="row">
                            <f:translate key="{labelPrefix}.event"/>
                        </th>
                        <td>
                            <f:render partial="EventRegistration/EventTitleAndDateAndUid" arguments="{event: event}"/>
                        </td>
                    </tr>

                    <f:if condition="{registration.priceCode}">
                        <tr>
                            <th scope="row">
                                <f:translate key="{labelPrefix}.priceCode"/>
                            </th>
                            <td>
                                <f:translate key="{selectedPrice.labelKey}"/>
                                <f:render partial="Price" arguments="{amount: selectedPrice.amount}"/>
                            </td>
                        </tr>
                    </f:if>

                    <tr>
                        <th scope="row">
                            <f:translate key="{labelPrefix}.seats"/>
                        </th>
                        <td>
                            {registration.seats}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            <f:translate key="{labelPrefix}.totalPrice"/>
                        </th>
                        <td>
                            <strong>
                                <f:render partial="Price" arguments="{amount: registration.totalPrice}"/>
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>

            <f:form.hidden name="event" value="{event}"/>
            <f:form.hidden property="seats"/>
            <f:form.hidden property="registeredThemselves"/>
            <f:form.hidden property="attendeesNames"/>
            <f:form.hidden property="interests"/>
            <f:form.hidden property="expectations"/>
            <f:form.hidden property="backgroundKnowledge"/>
            <f:form.hidden property="knownFrom"/>
            <f:form.hidden property="comments"/>
            <f:form.hidden property="priceCode"/>
            <f:form.hidden property="humanReadablePrice"
                           value="{f:translate(key: selectedPrice.labelKey)} {f:render(partial: 'Price', arguments: {amount: registration.totalPrice})}"/>
            <f:form.hidden property="paymentMethod"/>
            <f:form.hidden property="separateBillingAddress"/>
            <f:form.hidden property="billingCompany"/>
            <f:form.hidden property="billingFullName"/>
            <f:form.hidden property="billingStreetAddress"/>
            <f:form.hidden property="billingZipCode"/>
            <f:form.hidden property="billingCity"/>
            <f:form.hidden property="billingCountry"/>
            <f:form.hidden property="billingPhoneNumber"/>
            <f:form.hidden property="billingEmailAddress"/>

            <div class="d-flex justify-content-end mt-3 mb-3">
                <f:variable name="newActionUri" value="{f:uri.action(action: 'new')}"/>
                <f:form.submit value="{f:translate(key: '{actionLabelPrefix}.back')}" class="btn btn-secondary me-3"
                               additionalAttributes="{formaction: newActionUri}"/>

                <f:if condition="{event.freeOfCharge}">
                    <f:then>
                        <f:form.submit value="{f:translate(key: '{actionLabelPrefix}.registerForFree')}"
                                       class="btn btn-primary"/>
                    </f:then>
                    <f:else>
                        <f:form.submit value="{f:translate(key: '{actionLabelPrefix}.registerWithCosts')}"
                                       class="btn btn-primary"/>
                    </f:else>
                </f:if>
            </div>
        </f:form>
    </f:section>
</html>
