<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="OliverKlee\Seminars\ViewHelpers"
      xmlns:oelib="OliverKlee\Oelib\ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="EventRegistration"/>

    <f:section name="main">
        <f:render partial="EventRegistration/Headline" arguments="{event: event, registration: registration}"/>

        <f:form action="confirm" name="registration" object="{registration}" class="tx-seminars-event-registration"
                data="{behavior: 'tx-seminars-registration-form'}">
            <f:form.hidden name="event" value="{event}"/>
            <f:variable name="idPrefix" value="seminars-registration"/>
            <f:variable name="labelPrefix" value="plugin.eventRegistration.property"/>
            <f:variable name="fieldsetPrefix" value="plugin.eventRegistration.fieldset"/>
            <f:variable name="actionLabelPrefix" value="plugin.eventRegistration.action"/>

            <h3>
                <s:salutationAwareTranslate key="plugin.eventRegistration.heading.registrationData"/>
            </h3>

            <oelib:isFieldEnabled fieldName="attendanceMode">
                <f:if condition="{event.hybrid}">
                    <div class="row mb-3">
                        <label for="{idPrefix}-attendanceMode" class="col-sm-2 col-form-label">
                            <f:translate key="{labelPrefix}.attendanceMode"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.select property="attendanceMode" id="{idPrefix}-attendanceMode"
                                           required="required"
                                           class="form-select" errorClass="is-invalid">
                                <f:form.select.option value="">
                                    &nbsp;
                                </f:form.select.option>
                                <f:form.select.option value="1">
                                    <f:translate key="{labelPrefix}.attendanceMode.1"/>
                                </f:form.select.option>
                                <f:form.select.option value="2">
                                    <f:translate key="{labelPrefix}.attendanceMode.2"/>
                                </f:form.select.option>
                            </f:form.select>
                            <f:render partial="EventRegistration/ValidationResult"
                                      arguments="{property: 'attendanceMode'}"/>
                        </div>
                    </div>
                </f:if>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="seats">
                <div class="row mb-3">
                    <label for="{idPrefix}-seats" class="col-sm-2 col-form-label">
                        <f:translate key="{labelPrefix}.seats"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="seats" id="{idPrefix}-seats"
                                          size="3" maxlength="3" type="number"
                                          class="form-control-plaintext" errorClass="is-invalid"
                                          data="{behavior: 'tx-seminars-seats'}"
                                          additionalAttributes="{autocomplete: 'number', min: '1', max: maximumBookableSeats}"/>
                        <f:render partial="EventRegistration/ValidationResult" arguments="{property: 'seats'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="attendeesNames|registeredThemselves">
                <f:then>
                    <fieldset>
                        <legend>
                            <f:translate key="{fieldsetPrefix}.personsToRegister"/>
                        </legend>

                        <oelib:isFieldEnabled fieldName="registeredThemselves">
                            <f:then>
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <div class="form-check">
                                            <f:form.checkbox property="registeredThemselves"
                                                             id="{idPrefix}-registeredThemselves"
                                                             class="form-check-input" errorClass="is-invalid"
                                                             value="1" checked="{registration.registeredThemselves}"
                                                             data="{behavior: 'tx-seminars-registered-themselves'}"/>
                                            <label for="{idPrefix}-registeredThemselves" class="form-check-label">
                                                <f:translate key="{labelPrefix}.registeredThemselves"/>
                                            </label>
                                            <f:render partial="EventRegistration/ValidationResult"
                                                      arguments="{property: 'registeredThemselves'}"/>
                                        </div>
                                    </div>
                                </div>
                            </f:then>
                            <f:else>
                                <f:form.hidden property="registeredThemselves"
                                               value="{settings.registerThemselvesDefault}"
                                               data="{behavior: 'tx-seminars-registered-themselves'}"/>
                            </f:else>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="attendeesNames">
                            <ul class="mb-3 list-group d-none tx-seminars-display-none"
                                data-behavior="tx-seminars-separate-attendee-names">
                            </ul>
                            <f:render partial="EventRegistration/ValidationResult"
                                      arguments="{property: 'attendeesNames'}"/>

                            <f:if condition="{settings.showEmailFieldForAdditionalAttendees}">
                                <f:then>
                                    <li class="list-group-item row d-none tx-seminars-display-none"
                                        data-behavior="tx-seminars-attendee-template">
                                        <div class="row">
                                            <label for="{idPrefix}-attendee-name-xxx" class="col-sm-2 col-form-label">
                                                <f:translate key="{labelPrefix}.fullName"/>
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="text" id="{idPrefix}-attendee-name-xxx" name="attendeeName"
                                                       class="form-control" maxlength="160" autocomplete="name"/>
                                            </div>

                                            <label for="{idPrefix}-attendee-email-xxx" class="col-sm-2 col-form-label">
                                                <f:translate key="{labelPrefix}.emailAddress"/>
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="email" id="{idPrefix}-attendee-email-xxx"
                                                       name="attendeeEmail"
                                                       class="form-control" maxlength="255" autocomplete="email"/>
                                            </div>
                                        </div>
                                    </li>
                                </f:then>
                                <f:else>
                                    <li class="list-group-item row d-none tx-seminars-display-none"
                                        data-behavior="tx-seminars-attendee-template">
                                        <div class="row">
                                            <label for="{idPrefix}-attendee-name-xxx" class="col-sm-2 col-form-label">
                                                <f:translate key="{labelPrefix}.fullName"/>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" id="{idPrefix}-attendee-name-xxx" name="attendeeName"
                                                       class="form-control"
                                                       maxlength="160" autocomplete="name"/>
                                            </div>
                                        </div>
                                    </li>
                                </f:else>
                            </f:if>
                        </oelib:isFieldEnabled>
                        <f:form.hidden property="attendeesNames" id="{idPrefix}-attendeesNames"
                                       data="{behavior: 'tx-seminars-human-readable-attendee-names'}"/>
                        <f:form.hidden property="jsonEncodedAdditionAttendees"
                                       data="{behavior: 'tx-seminars-machine-readable-attendee-names'}"/>
                    </fieldset>
                </f:then>
                <f:else>
                    <f:form.hidden property="registeredThemselves" value="{settings.registerThemselvesDefault}"/>
                </f:else>
            </oelib:isFieldEnabled>

            <f:if condition="{event.accommodationOptions} || {event.foodOptions}">
                <fieldset>
                    <legend>
                        <f:translate key="{fieldsetPrefix}.foodAndAccommodation"/>
                    </legend>

                    <f:if condition="{event.accommodationOptions}">
                        <div class="row mb-3">
                            <div class="col-sm-2" aria-hidden="true">
                                <f:translate key="{labelPrefix}.accommodationOptions"/>
                            </div>
                            <fieldset class="col-sm-10">
                                <legend class="visually-hidden tx-seminars-visually-hidden">
                                    <f:translate key="{labelPrefix}.accommodationOptions"/>
                                </legend>

                                <f:for each="{event.accommodationOptions}" as="accommodationOption">
                                    <div class="form-check">
                                        <f:form.checkbox property="accommodationOptions"
                                                         id="{idPrefix}-accommodationOption-{accommodationOption.uid}"
                                                         class="form-check-input" errorClass="is-invalid"
                                                         value="{accommodationOption.uid}"/>
                                        <label for="{idPrefix}-accommodationOption-{accommodationOption.uid}"
                                               class="form-check-label">
                                            {accommodationOption.title}
                                        </label>
                                    </div>
                                </f:for>
                                <f:render partial="EventRegistration/ValidationResult"
                                          arguments="{property: 'accommodationOptions'}"/>
                            </fieldset>
                        </div>
                    </f:if>

                    <f:if condition="{event.foodOptions}">
                        <div class="row mb-3">
                            <div class="col-sm-2" aria-hidden="true">
                                <f:translate key="{labelPrefix}.foodOptions"/>
                            </div>
                            <fieldset class="col-sm-10">
                                <legend class="visually-hidden tx-seminars-visually-hidden">
                                    <f:translate key="{labelPrefix}.foodOptions"/>
                                </legend>

                                <f:for each="{event.foodOptions}" as="foodOption">
                                    <div class="form-check">
                                        <f:form.checkbox property="foodOptions"
                                                         id="{idPrefix}-foodOption-{foodOption.uid}"
                                                         class="form-check-input" errorClass="is-invalid"
                                                         value="{foodOption.uid}"/>
                                        <label for="{idPrefix}-foodOption-{foodOption.uid}" class="form-check-label">
                                            {foodOption.title}
                                        </label>
                                    </div>
                                </f:for>
                                <f:render partial="EventRegistration/ValidationResult"
                                          arguments="{property: 'foodOptions'}"/>
                            </fieldset>
                        </div>
                    </f:if>
                </fieldset>
            </f:if>

            <fieldset>
                <legend>
                    <f:translate key="{fieldsetPrefix}.additionalInformation"/>
                </legend>

                <f:if condition="{event.registrationCheckboxes}">
                    <div class="row mb-3">
                        <div class="col-sm-2" aria-hidden="true">
                            <f:translate key="{labelPrefix}.registrationCheckboxes"/>
                        </div>
                        <fieldset class="col-sm-10">
                            <legend class="visually-hidden tx-seminars-visually-hidden">
                                <f:translate key="{labelPrefix}.registrationCheckboxes"/>
                            </legend>

                            <f:for each="{event.registrationCheckboxes}" as="registrationCheckbox">
                                <div class="form-check">
                                    <f:form.checkbox property="registrationCheckboxes"
                                                     id="{idPrefix}-registrationCheckbox-{registrationCheckbox.uid}"
                                                     class="form-check-input" errorClass="is-invalid"
                                                     value="{registrationCheckbox.uid}"/>
                                    <label for="{idPrefix}-registrationCheckbox-{registrationCheckbox.uid}"
                                           class="form-check-label">
                                        {registrationCheckbox.title}
                                    </label>
                                </div>
                            </f:for>
                            <f:render partial="EventRegistration/ValidationResult"
                                      arguments="{property: 'registrationCheckboxes'}"/>
                        </fieldset>
                    </div>
                </f:if>

                <oelib:isFieldEnabled fieldName="interests">
                    <div class="row mb-3">
                        <label for="{idPrefix}-interests" class="col-sm-2 col-form-label">
                            <s:salutationAwareTranslate key="{labelPrefix}.interests"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textarea property="interests" id="{idPrefix}-interests"
                                             class="form-control" errorClass="is-invalid"
                                             additionalAttributes="{maxlength: 16383}"/>
                            <f:render partial="EventRegistration/ValidationResult" arguments="{property: 'interests'}"/>
                        </div>
                    </div>
                </oelib:isFieldEnabled>

                <oelib:isFieldEnabled fieldName="expectations">
                    <div class="row mb-3">
                        <label for="{idPrefix}-expectations" class="col-sm-2 col-form-label">
                            <s:salutationAwareTranslate key="{labelPrefix}.expectations"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textarea property="expectations" id="{idPrefix}-expectations"
                                             class="form-control" errorClass="is-invalid"
                                             additionalAttributes="{maxlength: 16383}"/>
                            <f:render partial="EventRegistration/ValidationResult"
                                      arguments="{property: 'expectations'}"/>
                        </div>
                    </div>
                </oelib:isFieldEnabled>

                <oelib:isFieldEnabled fieldName="backgroundKnowledge">
                    <div class="row mb-3">
                        <label for="{idPrefix}-backgroundKnowledge" class="col-sm-2 col-form-label">
                            <s:salutationAwareTranslate key="{labelPrefix}.backgroundKnowledge"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textarea property="backgroundKnowledge" id="{idPrefix}-backgroundKnowledge"
                                             class="form-control" errorClass="is-invalid"
                                             additionalAttributes="{maxlength: 16383}"/>
                            <f:render partial="EventRegistration/ValidationResult"
                                      arguments="{property: 'backgroundKnowledge'}"/>
                        </div>
                    </div>
                </oelib:isFieldEnabled>

                <oelib:isFieldEnabled fieldName="knownFrom">
                    <div class="row mb-3">
                        <label for="{idPrefix}-knownFrom" class="col-sm-2 col-form-label">
                            <s:salutationAwareTranslate key="{labelPrefix}.knownFrom"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textarea property="knownFrom" id="{idPrefix}-knownFrom"
                                             class="form-control" errorClass="is-invalid"
                                             additionalAttributes="{maxlength: 16383}"/>
                            <f:render partial="EventRegistration/ValidationResult" arguments="{property: 'knownFrom'}"/>
                        </div>
                    </div>
                </oelib:isFieldEnabled>

                <oelib:isFieldEnabled fieldName="comments">
                    <div class="row mb-3">
                        <label for="{idPrefix}-comments" class="col-sm-2 col-form-label">
                            <s:salutationAwareTranslate key="{labelPrefix}.comments"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.textarea property="comments" id="{idPrefix}-comments"
                                             class="form-control" errorClass="is-invalid"
                                             additionalAttributes="{maxlength: 16383}"/>
                            <f:render partial="EventRegistration/ValidationResult" arguments="{property: 'comments'}"/>
                        </div>
                    </div>
                </oelib:isFieldEnabled>
            </fieldset>

            <fieldset>
                <legend>
                    <f:translate key="{fieldsetPrefix}.payment"/>
                </legend>

                <oelib:isFieldEnabled fieldName="priceCode">
                    <f:then>
                        <div class="row mb-3">
                            <label for="{idPrefix}-priceCode" class="col-sm-2 col-form-label">
                                <f:translate key="{labelPrefix}.priceCode"/>
                            </label>
                            <div class="col-sm-10">
                                <f:form.select property="priceCode" id="{idPrefix}-priceCode"
                                               class="form-select" errorClass="is-invalid">
                                    <f:for each="{applicablePrices}" as="price">
                                        <f:form.select.option value="{price.priceCode}">
                                            <f:translate key="{price.labelKey}"/>
                                            <f:render partial="PriceWithVat" arguments="{amount: price.amount}"/>
                                        </f:form.select.option>
                                    </f:for>
                                </f:form.select>
                                <f:render partial="EventRegistration/ValidationResult"
                                          arguments="{property: 'priceCode'}"/>
                            </div>
                        </div>

                        <f:if condition="{registration.onWaitingList} && !{event.freeOfCharge}">
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="alert alert-info col-sm-12" role="alert">
                                        <s:salutationAwareTranslate
                                            key="plugin.eventRegistration.message.priceOnlyForRegularRegistration"/>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:form.hidden property="priceCode"/>
                    </f:else>
                </oelib:isFieldEnabled>

                <f:if condition="{event.paymentMethods}">
                    <div class="row mb-3">
                        <label for="{idPrefix}-paymentMethod" class="col-sm-2 col-form-label">
                            <f:translate key="{labelPrefix}.paymentMethod"/>
                        </label>
                        <div class="col-sm-10">
                            <f:form.select property="paymentMethod" id="{idPrefix}-paymentMethod"
                                           options="{event.paymentMethods}"
                                           optionValueField="uid" optionLabelField="title"
                                           class="form-select" errorClass="is-invalid"/>
                            <f:render partial="EventRegistration/ValidationResult"
                                      arguments="{property: 'paymentMethod'}"/>
                        </div>
                    </div>
                </f:if>

                <oelib:isFieldEnabled fieldName="separateBillingAddress">
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <f:form.checkbox property="separateBillingAddress"
                                                 id="{idPrefix}-separateBillingAddress"
                                                 class="form-check-input" errorClass="is-invalid"
                                                 value="1" checked="{registration.separateBillingAddress}"
                                                 data="{behavior: 'tx-seminars-billing-address-toggle'}"/>
                                <label for="{idPrefix}-separateBillingAddress" class="form-check-label">
                                    <f:translate key="{labelPrefix}.separateBillingAddress"/>
                                </label>
                                <f:render partial="EventRegistration/ValidationResult"
                                          arguments="{property: 'separateBillingAddress'}"/>
                            </div>
                        </div>
                    </div>

                    <fieldset data-behavior="tx-seminars-billing-address-fields"
                              class="d-none tx-seminars-display-none">
                        <legend class="visually-hidden tx-seminars-visually-hidden">
                            <f:translate key="{labelPrefix}.separateBillingAddress"/>
                        </legend>

                        <oelib:isFieldEnabled fieldName="billingCompany">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingCompany" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.company"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingCompany" id="{idPrefix}-billingCompany"
                                                      maxlength="256"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'organization'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingCompany'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingFullName">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingFullName" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.fullName"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingFullName" id="{idPrefix}-billingFullName"
                                                      maxlength="80"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'name'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingFullName'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingStreetAddress">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingStreetAddress" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.streetAddress"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textarea property="billingStreetAddress"
                                                     id="{idPrefix}-billingStreetAddress"
                                                     class="form-control" errorClass="is-invalid"
                                                     additionalAttributes="{autocomplete: 'street-address'}"
                                                     additionalAttributes="{maxlength: 255}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingStreetAddress'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingZipCode">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingZipCode" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.zipCode"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingZipCode" id="{idPrefix}-billingZipCode"
                                                      maxlength="20"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'postal-code'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingZipCode'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingCity">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingCity" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.city"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingCity" id="{idPrefix}-billingCity" maxlength="50"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'address-level2'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingCity'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingCountry">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingCountry" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.country"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingCountry" id="{idPrefix}-billingCountry"
                                                      maxlength="60"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'country-name'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingCountry'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingPhoneNumber">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingPhoneNumber" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.phoneNumber"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingPhoneNumber" id="{idPrefix}-billingPhoneNumber"
                                                      maxlength="20" class="form-control" errorClass="is-invalid"
                                                      type="tel" additionalAttributes="{autocomplete: 'tel'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingPhoneNumber'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>

                        <oelib:isFieldEnabled fieldName="billingEmailAddress">
                            <div class="row mb-3 ms-3">
                                <label for="{idPrefix}-billingEmailAddress" class="col-sm-2 col-form-label">
                                    <f:translate key="{labelPrefix}.emailAddress"/>
                                </label>
                                <div class="col-sm-10">
                                    <f:form.textfield property="billingEmailAddress" id="{idPrefix}-billingEmailAddress"
                                                      maxlength="80" class="form-control" errorClass="is-invalid"
                                                      type="email" additionalAttributes="{autocomplete: 'email'}"/>
                                    <f:render partial="EventRegistration/ValidationResult"
                                              arguments="{property: 'billingEmailAddress'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>
                    </fieldset>
                </oelib:isFieldEnabled>
            </fieldset>

            <oelib:isFieldEnabled fieldName="orderReference">
                <div class="row mb-3">
                    <label for="{idPrefix}-orderReference" class="col-sm-2 col-form-label">
                        <f:translate key="{labelPrefix}.orderReference"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="orderReference" id="{idPrefix}-orderReference" maxlength="256"
                                          class="form-control" errorClass="is-invalid"/>
                        <f:render partial="EventRegistration/ValidationResult"
                                  arguments="{property: 'orderReference'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <f:form.hidden property="consentedToTermsAndConditions" value="1"/>
            <f:form.hidden property="consentedToAdditionalTerms" value="1"/>

            <div class="d-flex justify-content-end mt-3 mb-3">
                <f:form.submit value="{f:translate(key: '{actionLabelPrefix}.continue')}" class="btn btn-primary"/>
            </div>
        </f:form>
    </f:section>
</html>
