<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="OliverKlee\Seminars\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="EventRegistration"/>

    <f:section name="main">
        <p class="alert alert-info" role="alert">
            NewAction
        </p>

        <f:render partial="EventRegistration/Headline" arguments="{event: event}"/>

        <f:form action="confirm" name="registration" object="{registration}" class="tx-seminars-event-registration">
            <f:form.hidden name="event" value="{event}"/>
            <f:variable name="idPrefix" value="seminars-registration"/>
            <f:variable name="labelPrefix" value="plugin.eventRegistration.property"/>
            <f:variable name="actionLabelPrefix" value="plugin.eventRegistration.action"/>

            <h3>
                <s:salutationAwareTranslate key="plugin.eventRegistration.heading.registrationData"/>
            </h3>

            <div class="row mb-3">
                <label for="{idPrefix}-comments" class="col-sm-2 col-form-label">
                    <f:translate key="{labelPrefix}.comments"/>
                </label>
                <div class="col-sm-10">
                    <f:form.textarea property="comments" id="{idPrefix}-comments"
                                     class="form-control" errorClass="is-invalid"/>
                    <f:render partial="EventRegistration/ValidationResult" arguments="{property: 'comments'}"/>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-3 mb-3">
                <f:form.submit value="{f:translate(key: '{actionLabelPrefix}.continue')}" class="btn btn-primary"/>
            </div>
        </f:form>
    </f:section>
</html>
