<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="OliverKlee\Seminars\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="EventRegistration"/>

    <f:section name="main">
        <f:render partial="EventRegistration/Headline" arguments="{event: event}"/>

        <h3>
            <s:salutationAwareTranslate key="plugin.eventRegistration.heading.registrationSent"/>
        </h3>
        <p class="alert alert-success" role="alert">
            <s:salutationAwareTranslate key="plugin.eventRegistration.message.thankYouForYourRegistration"/>
        </p>
    </f:section>
</html>
