<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="OliverKlee\Seminars\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="EventRegistration"/>

    <f:section name="main">
        <f:render partial="EventRegistration/Headline" arguments="{event: event, registration: registration}"/>

        <h3>
            <s:salutationAwareTranslate key="plugin.eventRegistration.heading.registrationSent"/>
        </h3>
        <p class="alert alert-success" role="alert">
            <f:if condition="{registration.onWaitingList}">
                <f:then>
                    <s:salutationAwareTranslate
                        key="plugin.eventRegistration.message.thankYouForYourWaitingListRegistration"/>
                </f:then>
                <f:else>
                    <s:salutationAwareTranslate key="plugin.eventRegistration.message.thankYouForYourRegistration"/>
                </f:else>
            </f:if>
        </p>
    </f:section>
</html>
