<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template for the back-end registrations list</title>
</head>
<body>
<!-- ###SEMINARS_REGISTRATION_LIST### -->
    ###NEW_RECORD_BUTTON###
    <div style="clear: both;"></div>
    <!--  ###WRAPPER_REGISTRATIONS_HEADING### -->
        <h2>###REGISTRATIONS_HEADING###</h2>
    <!--  ###WRAPPER_REGISTRATIONS_HEADING### -->
    ###COMPLETE_TABLE###
<!-- ###SEMINARS_REGISTRATION_LIST### -->
</body>
</html>

<!-- ###REGISTRATION_TABLE### -->
    <h3>###LABEL_REGISTRATIONS### (###NUMBER_OF_REGISTRATIONS###)</h3>
    <table cellpadding="0" class="typo3-dblist">
        <thead>
            ###TABLE_HEADER###
        </thead>
        <tbody>
            ###TABLE_ROWS###
        </tbody>
    </table>
<!-- ###REGISTRATION_TABLE### -->

<!-- ###REGISTRATION_TABLE_HEADING### -->
    <tr class="t3-row-header">
        <td>&nbsp;</td>
        <td>###LABEL_ATTENDEE_FULL_NAME###</td>
        <td>###LABEL_EVENT_ACCREDITATION_NUMBER###</td>
        <td>###LABEL_EVENT_TITLE###</td>
        <td>###LABEL_EVENT_DATE###</td>
        <td>&nbsp;</td>
    </tr>
<!-- ###REGISTRATION_TABLE_HEADING### -->

<!-- ###REGISTRATION_TABLE_ROW### -->
    <tr>
        <td>
            ###ICON###
        </td>
        <td>
            ###ATTENDEE_FULL_NAME###
        </td>
        <td>
            ###EVENT_ACCREDITATION_NUMBER###
        </td>
        <td>
            ###EVENT_TITLE###
        </td>
        <td>
            ###EVENT_DATE###
        </td>
        <td>
            ###EDIT_BUTTON###
            ###DELETE_BUTTON###
        </td>
    </tr>
<!-- ###REGISTRATION_TABLE_ROW### -->
