<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template for the back-end speakers list</title>
</head>
<body>
<!-- ###SEMINARS_SPEAKER_LIST### -->
    ###NEW_RECORD_BUTTON###
    <table cellpadding="0" class="typo3-dblist">
        <thead>
            <tr class="t3-row-header">
                <td>&nbsp;</td>
                <td>###LABEL_FULL_NAME###</td>
                <td>&nbsp;</td>
                <td>###LABEL_SKILLS###</td>
            </tr>
        </thead>
        <tbody>
            <!-- ###SPEAKER_ROW### -->
            <tr>
                <td>###ICON###</td>
                <td>###FULL_NAME###</td>
                <td>
                    ###EDIT_BUTTON###
                    ###DELETE_BUTTON###
                    ###HIDE_UNHIDE_BUTTON###
                </td>
                <td>###SKILLS###</td>
            </tr>
            <!-- ###SPEAKER_ROW### -->
        </tbody>
    </table>
<!-- ###SEMINARS_SPEAKER_LIST### -->
</body>
</html>
