<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Front end editor template</title>
</head>
<body>
<!-- ###seminars_FORM### -->
<div class="tx-seminars-pi1-event-editor">
    <p class="tx-seminars-pi1-error" style="display: {errors.cssdisplay};">
        {errors}
    </p>
    <fieldset>
        <div class="columnlight">
            <div class="columnleft">
                <dl>
                    <dt class="required">{title.label.tag}</dt>
                    <dd>{title}</dd>
                </dl>
                <!-- ###FE_EDITOR_SUBTITLE### -->
                <dl>
                    <dt###SUBTITLE_REQUIRED###>{subtitle.label.tag}</dt>
                    <dd>{subtitle}</dd>
                </dl>
                <!-- ###FE_EDITOR_SUBTITLE### -->
            </div>
            <!-- ###FE_EDITOR_TITLE_RIGHT### -->
            <div class="columnright shortInput">
                <!-- ###FE_EDITOR_ACCREDITATION_NUMBER### -->
                <dl>
                    <dt###ACCREDITATION_NUMBER_REQUIRED###>
                        {accreditation_number.label.tag}
                    </dt>
                    <dd>{accreditation_number}</dd>
                </dl>
                <!-- ###FE_EDITOR_ACCREDITATION_NUMBER### -->
                <!-- ###FE_EDITOR_CREDIT_POINTS### -->
                <dl>
                    <dt###CREDIT_POINTS_REQUIRED###>{credit_points.label.tag}</dt>
                    <dd>{credit_points}</dd>
                </dl>
                <!-- ###FE_EDITOR_CREDIT_POINTS### -->
            </div>
            <!-- ###FE_EDITOR_TITLE_RIGHT### -->
        </div>
        <!-- ###FE_EDITOR_BASIC_INFORMATION### -->
        <div class="divider">&nbsp;</div>

        <div class="columndark">
            <div class="columnleft">
                <!-- ###FE_EDITOR_CATEGORIES### -->
                <dl>
                    <dt###CATEGORIES_REQUIRED###>{categories.label}</dt>
                    <dd class="checkboxes">
                        {categories}
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_CATEGORIES### -->
                <!-- ###FE_EDITOR_EVENT_TYPE### -->
                <dl>
                    <dt###EVENT_TYPE_REQUIRED###>{event_type.label.tag}</dt>
                    <dd>
                        {event_type}
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_EVENT_TYPE### -->
            </div>
            <!-- ###FE_EDITOR_CANCELLED### -->
            <div class="columnright">
                <dl>
                    <dt###CANCELLED_REQUIRED###>{cancelled.label.tag}</dt>
                    <dd>{cancelled}</dd>
                </dl>
            </div>
            <!-- ###FE_EDITOR_CANCELLED### -->
        </div>
        <!-- ###FE_EDITOR_BASIC_INFORMATION### -->
    </fieldset>

    <!-- ###FE_EDITOR_TEXT_BLOCKS### -->
    <fieldset>
        <div class="column-light">
            <!-- ###FE_EDITOR_TEASER### -->
            <dl>
                <dt###TEASER_REQUIRED###>{teaser.label.tag}</dt>
            </dl>
            <dl>
                <dd class="teaser">{teaser}</dd>
            </dl>
            <!-- ###FE_EDITOR_TEASER### -->
            <!-- ###FE_EDITOR_DESCRIPTION### -->
            <dl>
                <dt###DESCRIPTION_REQUIRED###>{description.label.tag}</dt>
            </dl>
            <dl>
                <dd class="description">{description}</dd>
            </dl>
            <!-- ###FE_EDITOR_DESCRIPTION### -->
            <!-- ###FE_EDITOR_ADDITIONAL_INFORMATION### -->
            <dl>
                <dt###ADDITIONAL_INFORMATION_REQUIRED###>
                    {additional_information.label.tag}
                </dt>
            </dl>
            <dl>
                <dd class="additional_information">{additional_information}</dd>
            </dl>
            <!-- ###FE_EDITOR_ADDITIONAL_INFORMATION### -->
        </div>
    </fieldset>
    <!-- ###FE_EDITOR_TEXT_BLOCKS### -->
    <!-- ###FE_EDITOR_REGISTRATION_INFORMATION### -->
    <fieldset>
        <!-- ###FE_EDITOR_DATES### -->
        <div class="columndark date">
            <!-- ###FE_EDITOR_EVENT_DATES### -->
            <div class="columnleft">
                <!-- ###FE_EDITOR_BEGIN_DATE### -->
                <dl>
                    <dt###BEGIN_DATE_REQUIRED###>{begin_date.label.tag}</dt>
                    <dd>{begin_date}</dd>
                </dl>
                <!-- ###FE_EDITOR_BEGIN_DATE### -->
                <!-- ###FE_EDITOR_END_DATE### -->
                <dl>
                    <dt###END_DATE_REQUIRED###>{end_date.label.tag}</dt>
                    <dd>{end_date}</dd>
                </dl>
                <!-- ###FE_EDITOR_END_DATE### -->
            </div>
            <!-- ###FE_EDITOR_EVENT_DATES### -->
            <!-- ###FE_EDITOR_REGISTRATION_DATES### -->
            <div class="columnright">
                <!-- ###FE_EDITOR_BEGIN_DATE_REGISTRATION### -->
                <dl>
                    <dt###BEGIN_DATE_REGISTRATION_REQUIRED###>
                        {begin_date_registration.label.tag}
                    </dt>
                    <dd>{begin_date_registration}</dd>
                </dl>
                <!-- ###FE_EDITOR_BEGIN_DATE_REGISTRATION### -->
                <!-- ###FE_EDITOR_DEADLINE_EARLY_BIRD### -->
                <dl>
                    <dt###DEADLINE_EARLY_BIRD_REQUIRED###>{deadline_early_bird.label.tag}</dt>
                    <dd>{deadline_early_bird}</dd>
                </dl>
                <!-- ###FE_EDITOR_DEADLINE_EARLY_BIRD### -->
                <!-- ###FE_EDITOR_DEADLINE_REGISTRATION### -->
                <dl>
                    <dt###DEADLINE_REGISTRATION_REQUIRED###>{deadline_registration.label.tag}</dt>
                    <dd>{deadline_registration}</dd>
                </dl>
                <!-- ###FE_EDITOR_DEADLINE_REGISTRATION### -->
            </div>
            <!-- ###FE_EDITOR_REGISTRATION_DATES### -->
        </div>
        <!-- ###FE_EDITOR_DATES### -->
        <!-- ###FE_EDITOR_ATTENDANCE_INFORMATION### -->
        <div class="divider">&nbsp;</div>

        <div class="columnlight">
            <!-- ###FE_EDITOR_REGISTRATION_AND_QUEUE### -->
            <div class="columnleft registration">
                <!-- ###FE_EDITOR_NEEDS_REGISTRATION### -->
                <dl>
                    <dd###NEEDS_REGISTRATION_REQUIRED###>
                        <span class="checkbox">
                            {needs_registration}&nbsp;{needs_registration.label.tag}
                        </span>
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_NEEDS_REGISTRATION### -->
                <!-- ###FE_EDITOR_ALLOWS_MULTIPLE_REGISTRATIONS### -->
                <dl>
                    <dd###ALLOWS_MULTIPLE_REGISTRATIONS_REQUIRED###>
                        <span class="checkbox">
                            {allows_multiple_registrations}&nbsp;{allows_multiple_registrations.label.tag}
                        </span>
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_ALLOWS_MULTIPLE_REGISTRATIONS### -->
                <!-- ###FE_EDITOR_QUEUE_SIZE### -->
                <dl>
                    <dd###QUEUE_SIZE_REQUIRED###>
                        <span class="checkbox">
                            {queue_size}&nbsp;{queue_size.label.tag}
                        </span>
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_QUEUE_SIZE### -->
            </div>
            <!-- ###FE_EDITOR_REGISTRATION_AND_QUEUE### -->
            <!-- ###FE_EDITOR_ATTENDEES_NUMBER### -->
            <div class="columnright attendees">
                <!-- ###FE_EDITOR_ATTENDEES_MIN### -->
                <dl>
                    <dt###ATTENDEES_MIN_REQUIRED###>{attendees_min.label.tag}</dt>
                    <dd>{attendees_min}</dd>
                </dl>
                <!-- ###FE_EDITOR_ATTENDEES_MIN### -->
                <!-- ###FE_EDITOR_ATTENDEES_MAX### -->
                <dl>
                    <dt###ATTENDEES_MAX_REQUIRED###>{attendees_max.label.tag}</dt>
                    <dd>{attendees_max}</dd>
                </dl>
                <!-- ###FE_EDITOR_ATTENDEES_MAX### -->
                <!-- ###FE_EDITOR_OFFLINE_ATTENDEES### -->
                <dl>
                    <dt###OFFLINE_ATTENDEES_REQUIRED###>{offline_attendees.label.tag}</dt>
                    <dd>{offline_attendees}</dd>
                </dl>
                <!-- ###FE_EDITOR_OFFLINE_ATTENDEES### -->
            </div>
            <!-- ###FE_EDITOR_ATTENDEES_NUMBER### -->
        </div>
        <!-- ###FE_EDITOR_ATTENDANCE_INFORMATION### -->
        <!-- ###FE_EDITOR_TARGET_GROUPS### -->
        <div class="divider">&nbsp;</div>

        <div class="columndark single_column checkboxFields">
            <dl>
                <dt###TARGET_GROUPS_REQUIRED###>{target_groups.label}</dt>
                <dd class="checkboxes">
                    <div id="tx_seminars_pi1_seminars_target_groups">{target_groups}</div><br />
                </dd>
            </dl>
        </div>
        <!-- ###FE_EDITOR_TARGET_GROUPS### -->
        <!-- ###FE_EDITOR_PRICES### -->
        <div class="divider">&nbsp;</div>

        <div class="columnlight price">
            <!-- ###FE_EDITOR_REGULAR_PRICES### -->
            <div class="columnleft">
                <!-- ###FE_EDITOR_PRICE_REGULAR### -->
                <dl>
                    <dt###PRICE_REGULAR_REQUIRED###>{price_regular.label.tag}</dt>
                    <dd>{price_regular}</dd>
                </dl>
                <!-- ###FE_EDITOR_PRICE_REGULAR### -->
                <!-- ###FE_EDITOR_PRICE_REGULAR_EARLY### -->
                <dl>
                    <dt###PRICE_REGULAR_EARLY_REQUIRED###>{price_regular_early.label.tag}</dt>
                    <dd>{price_regular_early}</dd>
                </dl>
                <!-- ###FE_EDITOR_PRICE_REGULAR_EARLY### -->
                <!-- ###FE_EDITOR_PRICE_REGULAR_BOARD### -->
                <dl>
                    <dt###PRICE_REGULAR_BOARD_REQUIRED###>{price_regular_board.label.tag}</dt>
                    <dd>{price_regular_board}</dd>
                </dl>
                <!-- ###FE_EDITOR_PRICE_REGULAR_BOARD### -->
                <!-- ###FE_EDITOR_PAYMENT_METHODS### -->
                <dl>
                    <dt###PAYMENT_METHODS_REQUIRED###>{payment_methods.label}</dt>
                    <dd class="checkboxes">{payment_methods}</dd>
                </dl>
                <!-- ###FE_EDITOR_PAYMENT_METHODS### -->
            </div>
            <!-- ###FE_EDITOR_REGULAR_PRICES### -->
            <!-- ###FE_EDITOR_SPECIAL_PRICES### -->
            <div class="columnright">
                <!-- ###FE_EDITOR_PRICE_SPECIAL### -->
                <dl>
                    <dt###PRICE_SPECIAL_REQUIRED###>{price_special.label.tag}</dt>
                    <dd>{price_special}</dd>
                </dl>
                <!-- ###FE_EDITOR_PRICE_SPECIAL### -->
                <!-- ###FE_EDITOR_PRICE_SPECIAL_EARLY### -->
                <dl>
                    <dt###PRICE_SPECIAL_EARLY_REQUIRED###>{price_special_early.label.tag}</dt>
                    <dd>{price_special_early}</dd>
                </dl>
                <!-- ###FE_EDITOR_PRICE_SPECIAL_EARLY### -->
                <!-- ###FE_EDITOR_PRICE_SPECIAL_BOARD### -->
                <dl>
                    <dt###PRICE_SPECIAL_BOARD_REQUIRED###>{price_special_board.label.tag}</dt>
                    <dd>{price_special_board}</dd>
                </dl>
                <!-- ###FE_EDITOR_PRICE_SPECIAL_BOARD### -->
            </div>
            <!-- ###FE_EDITOR_SPECIAL_PRICES### -->
        </div>
        <!-- ###FE_EDITOR_PRICES###-->
    </fieldset>
    <!-- ###FE_EDITOR_REGISTRATION_INFORMATION### -->
    <!-- ###FE_EDITOR_PLACE_INFORMATION### -->
    <fieldset class="checkboxFields">
        <div class="columndark">
            <!-- ###FE_EDITOR_PLACE_AND_ROOM### -->
            <div class="columnleft">
                <!-- ###FE_EDITOR_PLACE### -->
                <dl>
                    <dt###PLACE_REQUIRED###>{place.label}</dt>
                    <dd class="checkboxes">
                        <div id="tx_seminars_pi1_seminars_place">{place}</div><br />
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_PLACE### -->
                <!-- ###FE_EDITOR_ROOM### -->
                <dl>
                    <dt###ROOM_REQUIRED###>{room.label.tag}</dt>
                    <dd>{room}</dd>
                </dl>
                <!-- ###FE_EDITOR_ROOM### -->
            </div>
            <!-- ###FE_EDITOR_PLACE_AND_ROOM### -->
            <!-- ###FE_EDITOR_LODGING_AND_FOOD### -->
            <div class="columnright">
                <!-- ###FE_EDITOR_LODGINGS### -->
                <dl>
                    <dt###LODGINGS_REQUIRED###>{lodgings.label}</dt>
                    <dd class="checkboxes">
                        {lodgings}
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_LODGINGS### -->
                <!-- ###FE_EDITOR_FOODS### -->
                <dl>
                    <dt###FOODS_REQUIRED###>{foods.label}</dt>
                    <dd class="checkboxes">
                        {foods}
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_FOODS### -->
            </div>
            <!-- ###FE_EDITOR_LODGING_AND_FOOD### -->
        </div>
    </fieldset>
    <!-- ###FE_EDITOR_PLACE_INFORMATION### -->
    <fieldset id="speakerCheckboxFields" class="checkboxFields">
        <div class="columnlight">
            <div class="columnleft">
                <!-- ###FE_EDITOR_SPEAKERS### -->
                <dl>
                    <dt###SPEAKERS_REQUIRED###>{speakers.label}</dt>
                    <dd class="checkboxes">
                        <div id="tx_seminars_pi1_seminars_speakers">{speakers}</div><br />
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_SPEAKERS### -->
                <!-- ###FE_EDITOR_LEADERS### -->
                <dl>
                    <dt###LEADERS_REQUIRED###>{leaders.label}</dt>
                    <dd class="checkboxes">
                        <div id="tx_seminars_pi1_seminars_leaders">{leaders}</div><br />
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_LEADERS### -->
                <dl>
                    <dt class="required">{organizers.label}</dt>
                    <dd class="checkboxes">
                        {organizers}
                    </dd>
                </dl>
            </div>
            <!-- ###FE_EDITOR_PARTNER_TUTOR### -->
            <div class="columnright">
                <!-- ###FE_EDITOR_PARTNERS### -->
                <dl>
                    <dt###PARTNERS_REQUIRED###>{partners.label}</dt>
                    <dd class="checkboxes">
                        <div id="tx_seminars_pi1_seminars_partners">{partners}</div><br />
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_PARTNERS### -->
                <!-- ###FE_EDITOR_TUTORS### -->
                <dl>
                    <dt###TUTORS_REQUIRED###>{tutors.label}</dt>
                    <dd class="checkboxes">
                        <div id="tx_seminars_pi1_seminars_tutors">{tutors}</div><br />
                    </dd>
                </dl>
                <!-- ###FE_EDITOR_TUTORS### -->
            </div>
            <!-- ###FE_EDITOR_PARTNER_TUTOR### -->
        </div>
    </fieldset>
    <!-- ###FE_EDITOR_CHECKBOX_OPTIONS### -->
    <fieldset class="checkboxFields">
        <div class="columndark single_column">
            <!-- ###FE_EDITOR_CHECKBOXES### -->
            <dl>
                <dt###CHECKBOXES_REQUIRED###>{checkboxes.label}</dt>
                <dd class="checkboxes">
                    <div id="tx_seminars_pi1_seminars_checkboxes">{checkboxes}</div><br />
                </dd>
            </dl>
            <!-- ###FE_EDITOR_CHECKBOXES### -->
            <!-- ###FE_EDITOR_USES_TERMS_2### -->
            <dl>
                <dd###USES_TERMS_2_REQUIRED###>
                    <span class="checkbox">{uses_terms_2}&nbsp;{uses_terms_2.label.tag}</span>
                </dd>
            </dl>
            <!-- ###FE_EDITOR_USES_TERMS_2### -->
        </div>
    </fieldset>
    <!-- ###FE_EDITOR_CHECKBOX_OPTIONS### -->
    <!-- ###FE_EDITOR_NOTES### -->
    <fieldset>
        <div class="column-dark">
            <dl>
                <dt###NOTES_REQUIRED###>{notes.label.tag}</dt>
            </dl>
            <dl class="notes">
                <dd>{notes}</dd>
            </dl>
        </div>
    </fieldset>
    <!-- ###FE_EDITOR_NOTES### -->

    <div class="columnlight">
        <dl id="submit">
            <dt>&nbsp;</dt>
            <dd>
        <!-- ###SUBMIT_AND_STAY### -->
                {submit_and_stay}
        <!-- ###SUBMIT_AND_STAY### -->
                {btnsubmit}
            </dd>
        </dl>
    </div>
</div>
<!-- ###seminars_FORM### -->
</body>
</html>
