<!-- ###REGISTRATION_EDITOR_STEP_1### -->
<div id="tx-seminars-pi1-registration-form">

<p class="tx-seminars-pi1-error" style="display: {errors.cssdisplay};">
    {errors}
</p>

<!-- ###REGISTRATION_WRAPPER_FEUSER_DATA### -->
    ###FEUSER_DATA###
<!-- ###REGISTRATION_WRAPPER_FEUSER_DATA### -->

<!-- ###REGISTRATION_WRAPPER_PAYMENT### -->
<fieldset>
    <legend>###LABEL_LEGEND_PAYMENT###</legend>
    <div id="tx-seminars-pi1-registration-payment">
<!-- ###REGISTRATION_WRAPPER_PRICE### -->
        <dl class="tx-seminars-pi1-registration-price">
            <dt>
                <label>###LABEL_SELECT_PRICE###</label>
            </dt>
            <dd>
                {price}
            </dd>
        </dl>
<!-- ###REGISTRATION_WRAPPER_PRICE### -->
<!-- ###REGISTRATION_WRAPPER_METHOD_OF_PAYMENT### -->
        <dl class="tx-seminars-pi1-registration-method-of-payment">
            <dt>
                <label>###LABEL_SELECT_PAYMENTMETHOD###</label>
            </dt>
            <dd class="tx-seminars-pi1-checkbox">
                {method_of_payment}
            </dd>
        </dl>
<!-- ###REGISTRATION_WRAPPER_METHOD_OF_PAYMENT### -->

    </div>
</fieldset>
<!-- ###REGISTRATION_WRAPPER_PAYMENT### -->

<!-- ###REGISTRATION_WRAPPER_BILLING_ADDRESS### -->
<fieldset>
    <legend>###LABEL_BILLING_ADDRESS###</legend>
    <dl>
<!-- ###REGISTRATION_WRAPPER_COMPANY### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__company">
                ###LABEL_COMPANY###
            </label>
        </dt>
        <dd>
            {company}
        </dd>
<!-- ###REGISTRATION_WRAPPER_COMPANY### -->

<!-- ###REGISTRATION_WRAPPER_NAME### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__name">
                ###LABEL_NAME###
            </label>
        </dt>
        <dd>
            <span class="tx-seminars-pi1-registration-gender">
                {gender}
            </span>
            <span class="tx-seminars-pi1-registration-name">
                {name}
            </span>
        </dd>
<!-- ###REGISTRATION_WRAPPER_NAME### -->

<!-- ###REGISTRATION_WRAPPER_ADDRESS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__address">
                ###LABEL_ADDRESS###
            </label>
        </dt>
        <dd>
            {address}
        </dd>
<!-- ###REGISTRATION_WRAPPER_ADDRESS### -->

<!-- ###REGISTRATION_WRAPPER_CITY### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__city">
                ###LABEL_CITY###
            </label>
        </dt>
        <dd>
            <span class="tx-seminars-pi1-registration-zip">
                {zip}
            </span>
            <span class="tx-seminars-pi1-registration-city">
                {city}
            </span>
        </dd>
<!-- ###REGISTRATION_WRAPPER_CITY### -->

<!-- ###REGISTRATION_WRAPPER_COUNTRY### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__country">
                ###LABEL_COUNTRY###
            </label>
        </dt>
        <dd class="tx-seminars-pi1-registration-country">
            {country}
        </dd>
<!-- ###REGISTRATION_WRAPPER_COUNTRY### -->

<!-- ###REGISTRATION_WRAPPER_TELEPHONE### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__telephone">
                ###LABEL_TELEPHONE###
            </label>
        </dt>
        <dd>
            {telephone}
        </dd>
<!-- ###REGISTRATION_WRAPPER_TELEPHONE### -->

<!-- ###REGISTRATION_WRAPPER_EMAIL### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__email">
                ###LABEL_EMAIL###
            </label>
        </dt>
        <dd>
            {email}
        </dd>
<!-- ###REGISTRATION_WRAPPER_EMAIL### -->
    </dl>
</fieldset>
<!-- ###REGISTRATION_WRAPPER_BILLING_ADDRESS### -->

<!-- ###REGISTRATION_WRAPPER_MORE_SEATS### -->
<fieldset>
    <dl>
<!-- ###REGISTRATION_WRAPPER_SEATS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__seats">
                ###LABEL_REGISTER_SEATS###
            </label>
        </dt>
        <dd>
            {seats}
        </dd>
<!-- ###REGISTRATION_WRAPPER_SEATS### -->

        <div class="tx-seminars-pi1-hidden" id="tx-seminars-pi1-themselves-default" data-value="###THEMSELVES_DEFAULT_VALUE###"></div>
<!-- ###REGISTRATION_WRAPPER_ATTENDEES_NAMES### -->
        <dt>
            ###LABEL_REGISTER_ADDITIONAL_ATTENDEES###
        </dt>
<!-- ###REGISTRATION_WRAPPER_REGISTERED_THEMSELVES### -->
        <dd class="tx-seminars-pi1-checkbox">
            {registered_themselves}
            <label for="tx_seminars_pi1_registration_editor__registered_themselves_checkbox">
                ###LABEL_REGISTERED_THEMSELVES###
            </label>
        </dd>
<!-- ###REGISTRATION_WRAPPER_REGISTERED_THEMSELVES### -->
        <dd>
            <div class="tx-seminars-pi1-hidden">
                {attendees_names}
            </div>
        </dd>
<!-- ###REGISTRATION_WRAPPER_ATTENDEES_NAMES### -->

<!-- ###REGISTRATION_WRAPPER_KIDS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__kids">
                ###LABEL_KIDS###
            </label>
        </dt>
        <dd>
            {kids}
        </dd>
<!-- ###REGISTRATION_WRAPPER_KIDS### -->
    </dl>
</fieldset>
<!-- ###REGISTRATION_WRAPPER_MORE_SEATS### -->

<!-- ###REGISTRATION_WRAPPER_LODGING_AND_FOOD### -->
<fieldset>
    <legend>###LABEL_REGISTER_LODGING_AND_FOOD###</legend>

    <dl>
<!-- ###REGISTRATION_WRAPPER_LODGINGS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__lodgings">
                ###LABEL_LODGINGS###
            </label>
        </dt>
        <dd class="tx-seminars-pi1-checkbox">
            {lodgings}
        </dd>
<!-- ###REGISTRATION_WRAPPER_LODGINGS### -->
<!-- ###REGISTRATION_WRAPPER_ACCOMMODATION### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__accommodation">
                ###LABEL_ACCOMMODATION###
            </label>
        </dt>
        <dd>
            {accommodation}
            <div class="tx-seminars-pi1-clear"></div>
        </dd>
<!-- ###REGISTRATION_WRAPPER_ACCOMMODATION### -->

<!-- ###REGISTRATION_WRAPPER_FOODS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__foods">
                ###LABEL_FOODS###
            </label>
        </dt>
        <dd class="tx-seminars-pi1-checkbox">
            {foods}
        </dd>
<!-- ###REGISTRATION_WRAPPER_FOODS### -->
<!-- ###REGISTRATION_WRAPPER_FOOD### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__food">
                ###LABEL_FOOD###
            </label>
        </dt>
        <dd>
            {food}
        </dd>
<!-- ###REGISTRATION_WRAPPER_FOOD### -->
    </dl>
</fieldset>
<!-- ###REGISTRATION_WRAPPER_LODGING_AND_FOOD### -->

<!-- ###REGISTRATION_WRAPPER_ADDITIONAL_INFORMATION### -->
<fieldset>
    <legend>###LABEL_REGISTER_ADDITIONAL_INFORMATION###</legend>

    <dl>
<!-- ###REGISTRATION_WRAPPER_CHECKBOXES### -->
    <dd class="tx-seminars-pi1-checkbox">
        {checkboxes}
    </dd>
<!-- ###REGISTRATION_WRAPPER_CHECKBOXES### -->
<!-- ###REGISTRATION_WRAPPER_INTERESTS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__interests">
                ###LABEL_INTERESTS###
            </label>
        </dt>
        <dd>
            {interests}
        </dd>
<!-- ###REGISTRATION_WRAPPER_INTERESTS### -->

<!-- ###REGISTRATION_WRAPPER_EXPECTATIONS### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__expectations">
                ###LABEL_EXPECTATIONS###
            </label>
        </dt>
        <dd>
            {expectations}
        </dd>
<!-- ###REGISTRATION_WRAPPER_EXPECTATIONS### -->

<!-- ###REGISTRATION_WRAPPER_BACKGROUND_KNOWLEDGE### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__background_knowledge">
                ###LABEL_BACKGROUND_KNOWLEDGE###
            </label>
        </dt>
        <dd>
            {background_knowledge}
        </dd>
<!-- ###REGISTRATION_WRAPPER_BACKGROUND_KNOWLEDGE### -->

<!-- ###REGISTRATION_WRAPPER_KNOWN_FROM### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__known_from">
                ###LABEL_KNOWN_FROM###
            </label>
        </dt>
        <dd>
            {known_from}
        </dd>
<!-- ###REGISTRATION_WRAPPER_KNOWN_FROM### -->

<!-- ###REGISTRATION_WRAPPER_NOTES### -->
        <dt>
            <label for="tx_seminars_pi1_registration_editor__notes">
                ###LABEL_NOTES###
            </label>
        </dt>
        <dd>
            {notes}
        </dd>
<!-- ###REGISTRATION_WRAPPER_NOTES### -->
    </dl>
</fieldset>
<!-- ###REGISTRATION_WRAPPER_ADDITIONAL_INFORMATION### -->

<!-- ###REGISTRATION_WRAPPER_BUTTON_CONTINUE### -->
<dl>
    <dd class="tx-seminars-pi1-submit">{button_continue}</dd>
</dl>
<!-- ###REGISTRATION_WRAPPER_BUTTON_CONTINUE### -->
<!-- ###REGISTRATION_WRAPPER_BUTTON_SUBMIT### -->
<dl>
    <dd class="tx-seminars-pi1-submit">{button_submit}</dd>
</dl>
<!-- ###REGISTRATION_WRAPPER_BUTTON_SUBMIT### -->

</div>
<!-- ###REGISTRATION_EDITOR_STEP_1### -->




<!-- ###REGISTRATION_EDITOR_STEP_2### -->
<div id="tx-seminars-pi1-registration-form">

<p class="tx-seminars-pi1-error" style="display: {errors.cssdisplay};">
    {errors}
</p>

<!-- ###REGISTRATION_WRAPPER_ENTERED_DATA### -->
<fieldset>
    <legend>###LABEL_REGISTER_ENTERED_DATA###</legend>

<!-- ###REGISTRATION_WRAPPER_BILLING_DATA### -->
    ###BILLING_ADDRESS###
<!-- ###REGISTRATION_WRAPPER_BILLING_DATA### -->

<!-- ###REGISTRATION_WRAPPER_REGISTRATION_DATA### -->
    ###REGISTRATION_DATA###
<!-- ###REGISTRATION_WRAPPER_REGISTRATION_DATA### -->
</fieldset>
<!-- ###REGISTRATION_WRAPPER_ENTERED_DATA### -->

<!-- ###REGISTRATION_WRAPPER_ALL_TERMS### -->
<fieldset>
<!-- ###REGISTRATION_WRAPPER_TERMS### -->
    <legend>###LABEL_REGISTER_ALL_TERMS###</legend>

    <p class="tx-seminars-pi1-checkbox">
        {terms}
        <label for="tx_seminars_pi1_registration_editor__terms_checkbox">
            {terms.label}
        </label>
    </p>
<!-- ###REGISTRATION_WRAPPER_TERMS### -->

<!-- ###REGISTRATION_WRAPPER_TRAVELING_TERMS### -->
    <p class="tx-seminars-pi1-checkbox">
        {terms_2}
        <label for="tx_seminars_pi1_registration_editor__terms2_checkbox">
            {terms2.label}
        </label>
    </p>
<!-- ###REGISTRATION_WRAPPER_TRAVELING_TERMS### -->
</fieldset>
<!-- ###REGISTRATION_WRAPPER_ALL_TERMS### -->

<dl>
    <dd class="tx-seminars-pi1-submit">
        {button_back}
        {button_submit}
    </dd>
</dl>

</div>

<div class="tx-seminars-pi1-hidden">
    {price}
    {method_of_payment}
    {company}
    {gender}
    {name}
    {address}
    {zip}
    {city}
    {country}
    {telephone}
    {email}
    {seats}
    {registered_themselves}
    {attendees_names}
    {kids}
    {lodgings}
    {accommodation}
    {foods}
    {food}
    {checkboxes}
    {interests}
    {expectations}
    {background_knowledge}
    {known_from}
    {notes}
</div>
<!-- ###REGISTRATION_EDITOR_STEP_2### -->

<!-- ###REGISTRATION_EDITOR_UNREGISTRATION### -->
<div id="tx-seminars-pi1-unregistration-form">
    <dl>
        <dt>
            <label for="tx_seminars_pi1_registration_editor__button_unregister">###LABEL_UNREGISTRATION_MESSAGE###</label>
        </dt>
        <dd class="tx-seminars-pi1-submit">
            {button_cancel}
            {button_unregister}
        </dd>
    </dl>
</div>
<!-- ###REGISTRATION_EDITOR_UNREGISTRATION### -->
