<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:oelib="OliverKlee\Oelib\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndDefault"/>

    <f:section name="main">
        <oelib:isFieldEnabled fieldName="title">
            <h1>
                {event.displayTitle}
            </h1>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="eventType">
            <f:if condition="{event.eventType}">
                <h2>
                    {event.eventType.title}
                </h2>
            </f:if>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="dateAndTime">
            <f:if condition="{event.start}">
                <h3>
                    <f:translate key="plugin.eventSingleView.events.property.dateAndTime"/>
                </h3>

                {f:translate(key: 'timeFormat') -> f:variable(name: 'timeFormat')}
                {event.start -> f:format.date(format: dateFormat) -> f:variable(name: 'startDate')}
                {event.start -> f:format.date(format: timeFormat) -> f:variable(name: 'startTime')}
                {event.end -> f:format.date(format: dateFormat) -> f:variable(name: 'endDate')}
                {event.end -> f:format.date(format: timeFormat) -> f:variable(name: 'endTime')}

                <f:if condition="{event.multiDay}">
                    <f:then>
                        <p>
                            <f:render partial="EventDate" arguments="{event: event}"/>
                            <br/>

                            <f:translate key="plugin.eventSingleView.events.property.startDateAndTimeWithUnit"
                                         arguments="{0: startDate, 1: startTime}"/>
                            <br/>

                            <f:translate key="plugin.eventSingleView.events.property.endDateAndTimeWithUnit"
                                         arguments="{0: endDate, 1: endTime}"/>
                        </p>
                    </f:then>
                    <f:else>
                        <p>
                            <f:render partial="EventDate" arguments="{event: event}"/>
                            {f:translate(key: 'range', arguments: {0: startTime, 1: endTime}) -> f:variable(name:
                            'timeRange')}
                            <f:translate key="timeWithUnit" arguments="{0: timeRange}"/>
                        </p>
                    </f:else>
                </f:if>
            </f:if>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="room">
            <f:if condition="{event.room}">
                <h3>
                    <f:translate key="plugin.eventSingleView.events.property.room"/>
                </h3>
                <p>
                    {event.room}
                </p>
            </f:if>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="description">
            <f:if condition="{event.description}">
                {event.description -> f:format.html()}
            </f:if>
        </oelib:isFieldEnabled>
    </f:section>
</html>
