<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:oelib="OliverKlee\Oelib\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndDefault"/>

    <f:section name="main">
        <oelib:isFieldEnabled fieldName="title">
            <h1>
                {event.displayTitle}
            </h1>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="eventType">
            <f:if condition="{event.eventType}">
                <h2>
                    {event.eventType.title}
                </h2>
            </f:if>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="room">
            <f:if condition="{event.room}">
                <h3>
                    <f:translate key="plugin.eventSingleView.events.property.room"/>
                </h3>
                <p>
                    {event.room}
                </p>
            </f:if>
        </oelib:isFieldEnabled>

        <oelib:isFieldEnabled fieldName="description">
            <f:if condition="{event.description}">
                {event.description -> f:format.html()}
            </f:if>
        </oelib:isFieldEnabled>
    </f:section>
</html>
