table.typo3-dblist {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

td {
    white-space: nowrap;
}

td.datecol,
td.attendees,
td.queue,
td.attendees_min,
td.attendees_max,
td.enough_attendees,
td.is_full {
    text-align: right;
}

td.attendees a {
    text-decoration: underline;
}

img.icon {
    margin-left: 4px;
}

img.deleteicon {
    margin-left: 8px;
}

img.hideicon {
    margin-left: 4px;
}

table {
    clear: both;
}

#typo3-newRecordLink {
    width: 20em;
    float: left;
}

#eventsList-clear {
    clear: both;
}

#typo3-storageFolder {
    float: left;
}

.clearUpDownButton {
    padding: 0 0 0 12px;
    margin: 0 0 0 4px;
}

/*
 * The following is mostly the same as the style for the new record link
 * provided by the TYPO3 4.1 default skin.
 */
#typo3-csvLink {
    font-weight: bold;
    margin: 10px 0 5px;
    width: 20em;
    float: right;
}

#typo3-csvLink img {
    margin-right: 5px;
    vertical-align: middle;
}

#typo3-csvLink a {
    vertical-align: middle;
}

td.status {
    text-align: center;
}

button {
    border: 1px solid #ACB3BE;
    color: #333333;
    cursor: pointer;
    padding: 2px 4px;
    font-size: 10px;
    line-height: 14px;
}

button:hover {
    border: 1px solid #737F91;
    color: #000000;
}

td.email_button button p {
    padding: 0;
}

#EventMailForm label {
    display: block;
    width: 80px;
    float: left;
}

#EventMailForm input,
#EventMailForm select {
    width: 350px;
    margin-bottom: 5px;
}

#EventMailForm textarea {
    width: 350px;
    height: 300px;
    margin-bottom: 5px;
}

#EventMailForm .submitButton {
    width: 180px;
    margin-left: 30px;
}

#EventMailForm .backButton {
    width: 140px;
    padding-bottom: 3px;
    margin-left: 80px;
    float: left;
}

#EventMailForm .error {
    border: 1px solid red;
}

#print-button {
    margin-top: 32px;
    float: right;
}
