.form-timeslotwizard-section {
    padding: 15px 0 0;
}

.form-timeslotwizard-section .radio {
    margin: 0 0 12px;
}

.form-timeslotwizard-multicolumn-wrap {
    display: table-cell;
    width: 100%;
}

.form-timeslotwizard-multicolumn-column {
    display: table-cell;
    width: 50%;
    padding-right: 12px;
    vertical-align: top;
}
