---
name: Code coverage
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  code-coverage:
    name: "Calculate code coverage"
    runs-on: ubuntu-22.04
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: legacy_tests
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    env:
      DATABASE_HOST: 127.0.0.1
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_NAME: typo3
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: pcov
          extensions: mysqli
          ini-values: pcov.directory=Classes
          tools: composer:v2, phive
      - name: "Show Composer version"
        run: composer --version
      - name: "Show the Composer configuration"
        run: composer config --global --list
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v3
        with:
          key: "php${{ matrix.php-version }}-typo3${{ matrix.typo3-version }}-${{ matrix.composer-dependencies }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.cache/composer
          restore-keys: "php${{ matrix.php-version }}-typo3${{ matrix.typo3-version }}-${{ matrix.composer-dependencies }}-composer-\n"
      - name: "Install TYPO3 Core"
        env:
          TYPO3: "${{ matrix.typo3-version }}"
        run: |
          composer require --no-ansi --no-interaction --no-progress --no-install typo3/cms-core:"$TYPO3"
          composer show
      - name: "Install lowest dependencies with composer"
        if: "matrix.composer-dependencies == 'lowest'"
        run: |
          composer update --no-ansi --no-interaction --no-progress --with-dependencies --prefer-lowest
          composer show
      - name: "Install highest dependencies with composer"
        if: "matrix.composer-dependencies == 'highest'"
        run: |
          composer update --no-ansi --no-interaction --no-progress --with-dependencies
          composer show
      - name: "Install development tools"
        run: phive --no-progress install --trust-gpg-keys D8406D0D82947747293778314AA394086372C20A
      - name: "Start MySQL"
        run: "sudo /etc/init.d/mysql start"
      - name: "Set up TYPO3"
        run: >
          .Build/vendor/bin/typo3cms install:setup --no-interaction --site-setup-type="site"
          --database-user-name="${DATABASE_USER}" --database-host-name="${DATABASE_HOST}"
          --database-port="${{ job.services.mysql.ports[3306] }}" --database-name="${DATABASE_NAME}"
          --admin-user-name="admin" --admin-password="password" --site-name="Test installation";
      - name: "Create the tests directory"
        run: "mkdir -p .Build/public/typo3temp/var/tests"
      - name: "Run unit tests with coverage"
        run: composer ci:coverage:unit
      - name: "Show coverage files"
        run: "ls -la .Build/coverage/"
      - name: "Run legacy tests with coverage"
        run: composer ci:coverage:legacy
      - name: "Show coverage files"
        run: "ls -la .Build/coverage/"
      - name: "Run functional tests with coverage"
        run: |
          export typo3DatabaseName="typo3";
          export typo3DatabaseHost="127.0.0.1";
          export typo3DatabaseUsername="root";
          export typo3DatabasePassword="root";
          composer ci:coverage:functional
      - name: "Show coverage files"
        run: "ls -la .Build/coverage/"
      - name: "Merge coverage results"
        run: composer ci:coverage:merge
      - name: "Upload coverage results to Coveralls"
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./.Build/vendor/bin/php-coveralls --coverage_clover=build/logs/clover.xml -v
    strategy:
      fail-fast: false
      matrix:
        include:
          - typo3-version: "^11.5"
            php-version: "7.4"
            composer-dependencies: highest
