<!DOCTYPE html>
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="BackEndModule"/>

    <f:section name="Header"/>

    <f:section name="Content">
        <f:if condition="{permissions.admin}">
            <f:render partial="BackEnd/EarlyAccess"/>
        </f:if>

        <f:variable name="propertyLabelPrefix" value="backEndModule.events.property"/>
        <f:variable name="tableName" value="tx_seminars_seminars"/>

        <f:if condition="{pageUid} <= 0">
            <f:render partial="BackEnd/FlashMessage" arguments="{severity: 'info', messageBodyKey: 'selectFolder'}"/>
        </f:if>

        <f:if condition="{permissions.readAccessToEvents}">
            <div class="row">
                <h1 class="col-auto me-auto">
                    <f:translate key="backEndModule.heading.events"/>
                </h1>
                <div class="col-auto">
                    <f:comment>
                        @deprecated will be removed in version 6.0.0 in #3134
                    </f:comment>
                    <f:if condition="{events}">
                        <f:link.action controller="BackEnd\Event" action="exportCsv" arguments="{pageUid: pageUid}"
                                       class="btn btn-default btn-sm">
                            <core:icon identifier="actions-document-export-csv"/>
                            <f:translate key="backEndModule.action.csvDownload"/>
                        </f:link.action>
                    </f:if>
                </div>
                <div class="col-auto">
                    <f:if condition="{permissions.writeAccessToEvents}">
                        <be:link.newRecord table="{tableName}" pid="{pageUid}" class="btn btn-default btn-sm">
                            <core:icon identifier="actions-plus"/>
                            <f:translate key="backEndModule.action.createEvent"/>
                        </be:link.newRecord>
                    </f:if>
                </div>
            </div>

            <f:render partial="BackEnd/SearchForm" arguments="{_all}"/>

            <f:if condition="{events}">
                <f:then>
                    <f:render partial="BackEnd/EventList" arguments="{_all}"/>
                </f:then>
                <f:else>
                    <p>
                        <f:translate key="backEndModule.message.noEventsInFolder"/>
                    </p>
                </f:else>
            </f:if>
        </f:if>

        <f:if condition="{permissions.readAccessToRegistrations}">
            <div class="row mt-5">
                <h1 class="col-auto me-auto">
                    <f:translate key="backEndModule.heading.registrations"/>
                </h1>
                <div class="col-auto">
                    <f:if condition="{numberOfRegistrations}">
                        <f:link.action controller="BackEnd\Registration" action="exportCsvForPageUid"
                                       arguments="{pageUid: pageUid}" class="btn btn-default btn-sm">
                            <core:icon identifier="actions-document-export-csv"/>
                            <f:translate key="backEndModule.action.csvDownload"/>
                        </f:link.action>
                    </f:if>
                </div>
            </div>

            <f:if condition="{numberOfRegistrations}">
                <f:then>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="nowrap">
                                    <f:translate key="{propertyLabelPrefix}.registrations"/>
                                </th>
                                <td class="nowrap">
                                    {numberOfRegistrations}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </f:then>
                <f:else>
                    <p>
                        <f:translate key="backEndModule.message.noRegistrationsInFolder"/>
                    </p>
                </f:else>
            </f:if>
        </f:if>
    </f:section>
</html>
